#### 文件读写及相关操作  
CSV文件时一种文本文件，可以使用文本编辑器进行编辑，同时支持追加模式，节省内存的开销。

1.使用read_csv函数读取csv文件  
read_csv()函数的作用就是将csv文件中的数据读取出来，并转为DataFrame对象。  
pd.read_csv(filepath_or_buffer,sep,header)  
filepath_or_buffer:文件路径  
sep：文件分割符  
header：指定行数的列名，如果读取的文件没有列名，则默认为0，否则可以设置为None。
names：用于结果的列名列表。如果文件不包含标题行需要设置为None  
index_col:用作行索引的列标签，如果时给定一个序列，则表示有多个索引行

In [1]:
import pandas as pd
import numpy as np

In [2]:
# 使用read_csv读取
df = pd.read_csv('数据源/股票数据.csv') # 相对路径
df

   Unnamed: 0   股票0   股票1   股票2   股票3   股票4
0  2022-05-08  0.72 -1.33  4.56  0.48 -6.17
1  2022-05-09 -0.03  1.31 -1.35  0.23 -1.27
2  2022-05-10  1.54  2.92  2.88 -0.95  4.78
3  2022-05-11 -4.45 -0.41  0.37  4.62  3.55

In [3]:
pd1 = pd.read_table('数据源/股票数据.csv', sep = ',') #制表符时/t
pd1

   Unnamed: 0   股票0   股票1   股票2   股票3   股票4
0  2022-05-08  0.72 -1.33  4.56  0.48 -6.17
1  2022-05-09 -0.03  1.31 -1.35  0.23 -1.27
2  2022-05-10  1.54  2.92  2.88 -0.95  4.78
3  2022-05-11 -4.45 -0.41  0.37  4.62  3.55

In [4]:
# header-None 不用数据填充列名
pd.read_csv('数据源/exa1.csv',header=None)

   0   1   2   3        4
0  1   2   3   4    hello
1  5   6   7   8   python
2  9  10  11  12  sixstar

In [5]:
# 设置index_col，将某列设置为行索引
pd.read_csv('数据源/exa1.csv',names = list('ABCFE'),index_col = 'E')

         A   B   C   F
E
hello    1   2   3   4
python   5   6   7   8
sixstar  9  10  11  12

In [6]:
pd.read_csv('数据源/mutiindex.csv',index_col = ['k1','k2'])

        v1  v2
k1  k2
one a    2  11
    b    3  12
    c    4  13
    d    5  14
two a    6  15
    b    7  16
    c    8  17
    d    9  18

In [7]:
pd.read_table('数据源/exa2.txt',
              #使用正则表达式作为分隔符
              sep='\s+')

          A         B         C
a -0.264438 -1.026059 -0.619500
b  0.927272  0.302904 -0.032399
c -0.264273 -0.386314 -0.217601
d -0.871858 -0.348382  1.100491

In [8]:
pd.read_table('数据源/exa2.txt',
              #使用正则表达式作为分隔符
              sep='\s+',skiprows = [0,1],header = None)

   0         1         2         3
0  b  0.927272  0.302904 -0.032399
1  c -0.264273 -0.386314 -0.217601
2  d -0.871858 -0.348382  1.100491

In [9]:
pd.read_table('数据源/exa2.txt',
              #使用正则表达式作为分隔符
              sep='\s+',skiprows = [1])

          A         B         C
b  0.927272  0.302904 -0.032399
c -0.264273 -0.386314 -0.217601
d -0.871858 -0.348382  1.100491

In [10]:
pd.read_csv('数据源/exa3.csv',encoding = 'gbk')

  Nickname  Age  Gender Comment
0       小枫   18     1.0       A
1       托尼   19     1.0       B
2       云归    0     NaN       C

In [11]:
# 将指定的数据替换成nan
pd.read_csv('数据源/exa3.csv',encoding = 'gbk',na_values = 0)

  Nickname   Age  Gender Comment
0       小枫  18.0     1.0       A
1       托尼  19.0     1.0       B
2       云归   NaN     NaN       C

In [12]:
# 替换不同列中不同的数据为Nan
pd.read_csv('数据源/exa3.csv',encoding = 'gbk',na_values = {
    'Nickname':'托尼',
    'Comment':'C'
})

  Nickname  Age  Gender Comment
0       小枫   18     1.0       A
1      NaN   19     1.0       B
2       云归    0     NaN     NaN

#### 逐块读取文本文件

In [13]:
# 1.设置chunksize参数
data = pd.read_csv('数据源/exa4.csv',
                   # 将源数据分成若干份，每份100行数据
                   chunksize=100)
# data是一个可迭代数据，里面的数据只能读取一次，第二次运行将会没数据
for i in data:print(i)

    Unnamed: 0   股票0   股票1   股票2   股票3   股票4
0   2020-05-08  3.21  1.82  2.51 -3.61  4.03
1   2020-05-09  4.18 -3.25  1.34  0.58 -3.35
2   2020-05-10  4.52  3.95 -0.29 -5.73  1.81
3   2020-05-11  0.90  2.31 -0.74 -1.69 -3.10
4   2020-05-12  3.42  5.05 -3.42  2.35 -2.12
..         ...   ...   ...   ...   ...   ...
95  2020-08-11  2.17  4.39  2.96 -1.07  1.46
96  2020-08-12  0.64 -1.52  2.97  0.56 -0.47
97  2020-08-13 -3.68 -1.91 -1.88  1.05 -4.18
98  2020-08-14  3.59 -2.19 -0.20 -2.43 -1.41
99  2020-08-15  0.70  5.56 -6.17 -5.64 -1.54

[100 rows x 6 columns]
     Unnamed: 0   股票0   股票1   股票2   股票3   股票4
100  2020-08-16  4.81 -4.33  1.66  0.44 -2.93
101  2020-08-17 -1.55 -5.51  2.07  0.21  2.02
102  2020-08-18 -3.02  0.67  1.06 -4.91  2.42
103  2020-08-19  3.65 -5.51 -1.11 -0.59  2.24
104  2020-08-20  0.48 -1.30  0.45 -3.67 -3.01
..          ...   ...   ...   ...   ...   ...
195  2020-11-19 -0.55  3.63 -0.29 -3.84  3.72
196  2020-11-20 -2.84  0.57  1.03  0.10  2.31
197  2020-11-21 -1.55 -2.30 -2.56  1.17 -0.09
198  2020-11-22 -4.28 -0.04 -4.22 -1.57  3.94
199  2020-11-23 -2.25  1.51  0.69 -1.80 -4.01

[100 rows x 6 columns]
     Unnamed: 0   股票0   股票1   股票2   股票3   股票4
200  2020-11-24 -6.08  0.51  0.67  4.83 -0.32
201  2020-11-25 -0.99  2.70  2.58 -1.61  6.08
202  2020-11-26 -3.31  3.10 -5.38 -3.65 -1.97
203  2020-11-27  0.37 -3.20 -3.85 -1.18 -1.81
204  2020-11-28 -2.32  5.08 -5.13  4.56 -1.97
..          ...   ...   ...   ...   ...   ...
295  2021-02-27 -1.27  1.24 -0.26 -4.89  0.89
296  2021-02-28 -3.44  1.00 -3.55 -1.00 -0.42
297  2021-03-01 -0.71  0.44  1.08 -1.97  1.97
298  2021-03-02 -1.61  0.38  5.39  2.38 -8.38
299  2021-03-03  0.83  3.44  0.54  5.90  0.26

[100 rows x 6 columns]
     Unnamed: 0   股票0   股票1   股票2   股票3   股票4
300  2021-03-04 -0.44 -0.31 -0.86  2.08  7.45
301  2021-03-05 -0.40  0.67 -4.99 -2.77  1.33
302  2021-03-06  0.94 -0.24  2.54  1.10  0.07
303  2021-03-07  1.18  2.72 -2.29 -2.42  2.78
304  2021-03-08 -1.90  0.11 -2.25  1.68 -0.20
..          ...   ...   ...   ...   ...   ...
395  2021-06-07  2.93 -1.59  3.17  2.47  5.28
396  2021-06-08  0.44  0.57 -1.24  3.72 -5.63
397  2021-06-09 -0.71  1.51  0.56 -5.20  3.44
398  2021-06-10 -2.88  3.59 -0.15  3.75  5.03
399  2021-06-11 -1.37  0.47  0.06 -0.86 -4.82

[100 rows x 6 columns]
     Unnamed: 0   股票0   股票1   股票2   股票3   股票4
400  2021-06-12 -4.13  0.77 -1.38  3.06  5.01
401  2021-06-13  0.79 -1.89  1.81 -1.48 -0.25
402  2021-06-14 -3.97  7.25 -1.45  0.07  2.64
403  2021-06-15 -2.46 -0.18  1.12  3.73  1.98
404  2021-06-16 -1.60 -0.37  0.58  7.00  0.45
..          ...   ...   ...   ...   ...   ...
495  2021-09-15 -2.59  2.72  3.64  3.36 -1.81
496  2021-09-16  6.47 -1.91 -0.56  2.51 -0.22
497  2021-09-17  1.21  1.95  1.51  1.22  0.98
498  2021-09-18  3.84  3.07 -1.38  0.23 -0.02
499  2021-09-19 -4.06 -1.15  4.54 -1.14 -1.48

[100 rows x 6 columns]
     Unnamed: 0   股票0   股票1   股票2   股票3   股票4
500  2021-09-20  2.32 -1.00 -3.25  1.13 -0.02
501  2021-09-21  2.58 -0.88 -0.44  1.08 -1.24
502  2021-09-22  0.47  2.65 -2.70 -4.46 -2.80
503  2021-09-23 -1.93  3.74  2.67 -1.42  1.40
504  2021-09-24 -2.00 -1.01 -2.88  1.30 -2.19
..          ...   ...   ...   ...   ...   ...
595  2021-12-24  4.18 -0.23 -1.62 -5.94 -2.57
596  2021-12-25 -0.20 -3.17  0.25 -0.99 -5.26
597  2021-12-26 -1.81  3.39  2.60  0.62  0.57
598  2021-12-27  2.85  0.79  0.19 -2.32  1.66
599  2021-12-28  4.13  1.62  3.67 -3.69  3.70

[100 rows x 6 columns]
     Unnamed: 0   股票0   股票1   股票2   股票3   股票4
600  2021-12-29  2.97  2.01  3.14  4.25 -4.62
601  2021-12-30 -2.17 -3.04 -7.92  0.09 -4.00
602  2021-12-31  1.72  0.94 -0.14 -1.78 -2.50
603  2022-01-01  4.96 -2.18 -5.58  2.40 -0.05
604  2022-01-02  5.01 -5.85 -0.31  1.30 -0.86
..          ...   ...   ...   ...   ...   ...
695  2022-04-03 -0.90  2.55 -1.68  1.61  0.71
696  2022-04-04 -3.25  0.43 -1.12 -4.21  0.05
697  2022-04-05  6.03 -0.65  3.87  5.43  2.76
698  2022-04-06  1.08  0.78 -0.30  0.04 -0.50
699  2022-04-07  1.89  0.65 -1.55  0.07  3.24

[100 rows x 6 columns]
     Unnamed: 0   股票0   股票1   股票2   股票3   股票4
700  2022-04-08  0.30 -0.50 -0.43  2.67 -2.20
701  2022-04-09  2.75 -3.30  1.56  3.77 -2.67
702  2022-04-10  2.42 -1.23  1.65  1.26  1.17
703  2022-04-11 -1.73 -6.21  1.40 -4.96 -0.39
704  2022-04-12 -3.86 -0.38  4.97  1.73 -1.10
..          ...   ...   ...   ...   ...   ...
795  2022-07-12 -2.70 -1.10  0.90 -1.80 -1.88
796  2022-07-13 -3.48 -1.95 -0.26  3.92 -6.42
797  2022-07-14 -0.37 -0.22 -1.31 -5.32  1.50
798  2022-07-15 -4.71 -1.93 -4.70  1.07  1.84
799  2022-07-16 -4.84  5.29  3.38 -5.71 -0.53

[100 rows x 6 columns]
     Unnamed: 0   股票0   股票1   股票2   股票3   股票4
800  2022-07-17 -2.43 -2.73 -2.36  1.94  7.14
801  2022-07-18  0.81 -1.37 -1.10  2.02  2.31
802  2022-07-19  1.87 -2.02  2.84 -1.87  1.00
803  2022-07-20 -3.66 -3.18 -0.55 -3.04 -0.96
804  2022-07-21 -1.55 -0.06 -1.08  2.08  4.78
..          ...   ...   ...   ...   ...   ...
895  2022-10-20 -3.90  1.12  1.53  0.67  2.17
896  2022-10-21  1.73 -0.26  5.36 -2.10  0.56
897  2022-10-22 -5.42 -2.13 -0.51  4.87  2.26
898  2022-10-23 -4.18 -0.30 -3.05 -2.93 -2.20
899  2022-10-24  3.59 -0.21  3.62 -0.84  1.07

[100 rows x 6 columns]
     Unnamed: 0   股票0   股票1   股票2   股票3   股票4
900  2022-10-25 -2.98 -1.11  0.92 -0.46  0.84
901  2022-10-26 -1.01  1.94 -6.67 -4.41  2.18
902  2022-10-27 -0.99  2.50  6.37 -4.11  6.04
903  2022-10-28  1.18  0.70  5.18  0.40  3.31
904  2022-10-29  0.30 -2.26  0.65  4.87 -0.21
..          ...   ...   ...   ...   ...   ...
995  2023-01-28 -7.39  0.32 -1.34  7.64 -2.64
996  2023-01-29 -1.23 -7.46 -2.51  5.33  3.68
997  2023-01-30 -0.37 -3.62  1.13  0.22 -2.75
998  2023-01-31  1.27 -1.56 -0.34  2.79 -3.77
999  2023-02-01  3.33  1.96 -6.88 -2.66  2.54

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
1000  2023-02-02  3.97 -8.30 -3.40 -1.49  0.81
1001  2023-02-03  1.42  7.21  3.84  2.18 -0.67
1002  2023-02-04 -2.56  0.60 -2.21  5.03  3.43
1003  2023-02-05 -2.02 -3.15  4.15  1.45  5.15
1004  2023-02-06  0.26  0.26 -1.66  6.89 -6.72
...          ...   ...   ...   ...   ...   ...
1095  2023-05-08 -0.67 -1.40  3.23 -0.12 -4.36
1096  2023-05-09 -0.88 -6.62  5.56  1.49  3.60
1097  2023-05-10 -0.90  3.30  1.65 -1.60  1.51
1098  2023-05-11  2.68 -1.95 -3.42 -3.72 -0.90
1099  2023-05-12  2.85  6.44  6.08  1.19  0.85

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
1100  2023-05-13 -2.44 -1.19  4.51 -1.36  1.02
1101  2023-05-14  1.81  0.52  6.21  6.03  1.52
1102  2023-05-15  3.10  1.90  0.85 -5.78  1.01
1103  2023-05-16 -2.10 -2.32 -4.66  0.59 -6.15
1104  2023-05-17 -0.60 -6.90 -3.55 -2.26 -1.06
...          ...   ...   ...   ...   ...   ...
1195  2023-08-16  6.37  3.85  2.70  1.36  2.40
1196  2023-08-17  4.71 -3.50 -1.68  2.73  0.21
1197  2023-08-18 -3.25 -2.85  0.69 -7.64 -3.25
1198  2023-08-19  5.39 -0.76 -0.02 -0.43  1.04
1199  2023-08-20  0.68 -3.97 -5.54  3.08 -6.11

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
1200  2023-08-21  3.00  5.73  6.93  2.99  5.60
1201  2023-08-22 -0.51 -0.28  1.40 -5.56 -3.76
1202  2023-08-23 -4.88 -5.03  0.02 -0.02 -0.02
1203  2023-08-24 -1.18  0.64 -1.41 -0.11 -1.19
1204  2023-08-25  1.63  3.61  0.67  1.06 -2.66
...          ...   ...   ...   ...   ...   ...
1295  2023-11-24  2.88 -4.24 -0.60  1.37  1.49
1296  2023-11-25  0.87 -4.77 -2.00 -2.63  2.71
1297  2023-11-26 -3.95  0.19  1.74  1.63  1.17
1298  2023-11-27 -1.49 -3.25 -2.69  1.60 -0.26
1299  2023-11-28  0.69  2.31 -3.55 -4.82  8.51

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
1300  2023-11-29 -0.94 -0.36  0.06 -4.71  0.22
1301  2023-11-30  3.37  5.18 -1.90 -5.00  1.73
1302  2023-12-01  2.52  5.40  1.33 -0.35 -3.56
1303  2023-12-02  0.80  3.42  0.93  6.08 -0.54
1304  2023-12-03 -1.86  3.81  0.80 -4.05  0.49
...          ...   ...   ...   ...   ...   ...
1395  2024-03-03  2.80 -0.00  0.33 -1.93 -4.01
1396  2024-03-04 -0.09  2.37  1.84 -4.55  0.68
1397  2024-03-05  2.05  0.99 -4.83  0.38 -1.49
1398  2024-03-06 -5.30 -1.12  4.10  2.09 -7.02
1399  2024-03-07 -3.32 -1.68  1.44 -2.60 -3.21

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
1400  2024-03-08 -3.00  3.28 -1.75 -2.68  2.04
1401  2024-03-09  2.67 -4.44 -0.25 -2.88 -2.54
1402  2024-03-10 -0.06  5.03  2.39  0.28  0.90
1403  2024-03-11 -5.76  7.60 -0.12 -1.45 -1.35
1404  2024-03-12 -1.14 -1.38  4.85  2.51 -0.13
...          ...   ...   ...   ...   ...   ...
1495  2024-06-11  2.19 -1.12 -1.78 -2.81  2.24
1496  2024-06-12 -3.14  0.14  1.17 -5.20  9.97
1497  2024-06-13 -4.41 -0.79  5.91 -2.04 -1.85
1498  2024-06-14  0.32 -2.92 -0.63  1.81 -1.18
1499  2024-06-15  0.76 -1.38  0.86 -1.78 -0.23

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
1500  2024-06-16 -1.18 -0.52 -0.33 -6.20 -5.97
1501  2024-06-17 -2.58 -0.11  1.41 -0.30  1.78
1502  2024-06-18 -3.12  2.48  0.31  4.96  0.33
1503  2024-06-19  2.08 -1.19 -0.32  1.96  0.12
1504  2024-06-20  3.33  0.99  1.22  1.03  2.44
...          ...   ...   ...   ...   ...   ...
1595  2024-09-19  1.82  4.40 -1.46 -4.10  2.33
1596  2024-09-20 -3.51 -1.52  0.15  0.54 -6.48
1597  2024-09-21  2.15  5.31 -2.18  0.17 -0.45
1598  2024-09-22  3.68  1.99  1.40  3.23 -0.83
1599  2024-09-23 -0.52  2.25  5.73  3.23  1.34

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
1600  2024-09-24 -2.12  2.66  1.40 -2.50 -0.80
1601  2024-09-25  3.90  2.70 -0.23  0.62  1.85
1602  2024-09-26  0.16  2.39 -0.60  3.69  4.60
1603  2024-09-27 -1.59  0.53 -4.90 -5.67  2.70
1604  2024-09-28 -2.55 -2.05 -1.54 -4.69  3.72
...          ...   ...   ...   ...   ...   ...
1695  2024-12-28 -1.02  3.01 -0.36  0.06 -1.73
1696  2024-12-29 -3.26  2.60  3.11  6.06 -1.36
1697  2024-12-30  4.55 -3.62 -4.44 -3.97  2.53
1698  2024-12-31  0.25 -4.67  3.18  2.20 -3.99
1699  2025-01-01  0.19  0.12 -5.71 -1.72  3.74

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
1700  2025-01-02  1.15  0.59 -0.09  2.13 -2.98
1701  2025-01-03  2.79  0.07  2.36 -0.97 -1.51
1702  2025-01-04  2.46 -0.42  4.43  3.84 -5.62
1703  2025-01-05 -0.40 -0.50  3.28  3.38 -1.24
1704  2025-01-06 -1.64 -1.23 -3.27 -3.17  0.67
...          ...   ...   ...   ...   ...   ...
1795  2025-04-07  2.03  3.06  0.81 -0.02  3.50
1796  2025-04-08 -1.71 -0.67 -0.03  3.06  3.82
1797  2025-04-09 -0.20  0.81  1.39  1.41  2.21
1798  2025-04-10  5.14  5.38 -1.33  9.04 -0.32
1799  2025-04-11  1.84  5.11 -3.17 -0.18  1.42

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
1800  2025-04-12 -0.12 -3.18 -0.26 -0.89 -3.73
1801  2025-04-13 -2.56  1.34  1.41 -1.93  1.56
1802  2025-04-14  1.01 -0.60  2.27 -4.72  0.15
1803  2025-04-15 -3.87  6.07 -4.32 -1.81 -3.99
1804  2025-04-16 -0.21 -3.30  1.02  1.33 -1.48
...          ...   ...   ...   ...   ...   ...
1895  2025-07-16 -1.34 -0.92  2.16  0.61 -3.69
1896  2025-07-17 -1.47 -2.16 -2.28  1.69 -6.75
1897  2025-07-18  1.08 -0.74 -2.12  3.67  3.81
1898  2025-07-19  0.02  1.78 -2.53  1.72 -1.01
1899  2025-07-20 -1.52  4.50  4.34  2.90 -4.69

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
1900  2025-07-21 -1.67  0.96 -1.20 -2.62  2.13
1901  2025-07-22  1.40 -5.65 -0.47  3.33  3.46
1902  2025-07-23  0.33 -2.36  1.85 -7.77 -3.91
1903  2025-07-24  2.86  1.28  0.19  3.33 -5.93
1904  2025-07-25 -4.41 -0.69  0.59 -1.09 -4.33
...          ...   ...   ...   ...   ...   ...
1995  2025-10-24  5.84  0.01  3.37  0.20 -1.03
1996  2025-10-25  5.07  2.78 -2.76 -5.74  5.24
1997  2025-10-26 -0.49 -6.52 -0.83  1.72  4.40
1998  2025-10-27 -0.50  2.04  1.78 -1.37  1.07
1999  2025-10-28  3.12  0.56  1.51  4.89  0.53

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
2000  2025-10-29 -1.46 -2.90  0.60 -1.68 -6.53
2001  2025-10-30 -2.15  0.90 -0.73 -1.76 -1.60
2002  2025-10-31 -0.91 -2.47  4.14 -3.78  2.07
2003  2025-11-01 -0.27 -1.44 -1.29  0.59  3.26
2004  2025-11-02  6.71  0.65  3.40 -2.43 -0.04
...          ...   ...   ...   ...   ...   ...
2095  2026-02-01  2.30  5.16  0.22  2.01 -2.99
2096  2026-02-02  5.31  5.48 -4.04  0.44  0.03
2097  2026-02-03 -0.95  3.30 -0.54 -2.62 -0.52
2098  2026-02-04  0.15  1.74  1.31  2.66 -2.96
2099  2026-02-05  2.50 -5.47  3.79 -3.20 -0.79

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
2100  2026-02-06  1.10 -4.78  1.87 -4.74  0.83
2101  2026-02-07  0.65  0.42  3.10 -4.52 -1.45
2102  2026-02-08 -5.95 -5.64  5.06  3.46  0.89
2103  2026-02-09 -0.82  0.80 -1.58 -5.99  1.03
2104  2026-02-10 -1.26 -0.81  1.42  1.55 -0.85
...          ...   ...   ...   ...   ...   ...
2195  2026-05-12  6.15  2.95  2.84  0.14  0.17
2196  2026-05-13 -4.08 -3.40  0.71  4.89  4.18
2197  2026-05-14 -4.27  1.91 -1.70  5.29  6.49
2198  2026-05-15 -0.86  3.61 -1.52 -2.77  0.87
2199  2026-05-16 -5.76 -1.44 -1.10  5.71  3.24

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
2200  2026-05-17 -6.70  1.57  0.18 -0.51 -6.24
2201  2026-05-18  1.39  1.71 -3.34 -4.25  2.63
2202  2026-05-19 -1.10 -1.44  0.02  4.00  3.60
2203  2026-05-20 -4.27 -3.66 -3.23 -5.79 -2.25
2204  2026-05-21 -0.28  0.38 -3.65 -1.77 -0.03
...          ...   ...   ...   ...   ...   ...
2295  2026-08-20  5.86  4.54  0.31  0.37 -3.43
2296  2026-08-21 -1.43  0.98  1.13 -1.53 -2.03
2297  2026-08-22  1.37  2.54 -0.67 -1.62 -0.15
2298  2026-08-23 -2.65  4.70 -2.64  2.14 -1.51
2299  2026-08-24 -1.02 -0.41 -2.90 -4.52 -2.49

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
2300  2026-08-25 -2.41 -0.84 -1.98 -0.10  0.95
2301  2026-08-26  3.50 -0.65  3.72  0.58 -3.82
2302  2026-08-27 -0.20  3.85  4.53  2.98 -3.00
2303  2026-08-28  0.30 -1.32 -1.41  2.48  3.41
2304  2026-08-29  3.39 -3.88  2.70  5.97 -3.50
...          ...   ...   ...   ...   ...   ...
2395  2026-11-28  2.21  1.20  1.20 -2.30 -1.57
2396  2026-11-29  3.08  2.19 -3.66 -3.77 -3.30
2397  2026-11-30 -0.61  2.32  5.90  2.19  2.19
2398  2026-12-01 -5.67 -1.17 -4.71  1.46 -0.54
2399  2026-12-02  1.14  4.50  1.82  2.49  0.27

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
2400  2026-12-03  2.79  4.32  5.66 -2.82 -2.69
2401  2026-12-04 -2.70 -0.53  1.76 -0.25 -0.91
2402  2026-12-05  3.49 -0.12 -1.07 -2.59 -1.12
2403  2026-12-06 -1.16  3.95  0.39  1.92  0.84
2404  2026-12-07 -0.88 -3.37 -3.60  5.22  3.22
...          ...   ...   ...   ...   ...   ...
2495  2027-03-08  1.95  2.11  1.66 -2.62  1.94
2496  2027-03-09  2.03 -3.33 -3.93  3.51 -2.02
2497  2027-03-10 -6.11 -3.45  6.42 -0.36 -0.63
2498  2027-03-11  4.37  5.67  2.59 -0.20 -0.81
2499  2027-03-12 -3.77 -2.98 -3.63  0.64  3.74

[100 rows x 6 columns]
      Unnamed: 0    股票0   股票1   股票2   股票3   股票4
2500  2027-03-13  -4.96 -0.64  2.11 -3.85  0.44
2501  2027-03-14  -1.12  1.05 -1.62 -0.53 -4.50
2502  2027-03-15   0.84  0.70 -2.92  4.35 -2.89
2503  2027-03-16  -2.20 -1.32 -3.25  5.97  4.13
2504  2027-03-17   2.18 -2.20  2.05  1.21  1.31
...          ...    ...   ...   ...   ...   ...
2595  2027-06-16  -1.32 -0.55  2.06 -0.50 -1.36
2596  2027-06-17  -0.85  3.47 -2.64  1.34 -2.03
2597  2027-06-18  -1.69  0.55 -0.18 -0.13  0.88
2598  2027-06-19   3.25 -4.76 -3.54 -0.12 -4.28
2599  2027-06-20  10.04 -2.08  1.37  7.91 -2.50

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
2600  2027-06-21 -0.06  1.15 -0.28 -2.32 -6.44
2601  2027-06-22  3.13  1.40  2.25  0.41 -2.12
2602  2027-06-23  0.27  2.12 -1.19 -2.93  7.53
2603  2027-06-24  7.24  0.57  0.23  0.13  2.71
2604  2027-06-25 -0.09 -4.43  0.31 -4.48 -0.70
...          ...   ...   ...   ...   ...   ...
2695  2027-09-24  1.90  3.07  2.58  0.58 -0.60
2696  2027-09-25  0.08  2.44  5.08  5.38 -2.34
2697  2027-09-26  4.03  0.28  1.07 -4.91  2.34
2698  2027-09-27 -4.09 -7.00  9.31 -1.02  5.80
2699  2027-09-28 -0.50 -1.56 -2.00 -3.84  1.53

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
2700  2027-09-29 -3.53 -0.38  2.19  5.73 -4.27
2701  2027-09-30  0.66 -1.55  1.30  3.58 -3.28
2702  2027-10-01 -2.35 -2.88  0.49  0.57 -0.75
2703  2027-10-02 -2.96  4.93 -2.88  1.82  0.41
2704  2027-10-03 -0.05 -3.63 -1.45 -1.45 -0.03
...          ...   ...   ...   ...   ...   ...
2795  2028-01-02 -1.14 -2.91  4.11 -2.19 -2.96
2796  2028-01-03  1.10 -3.05  2.41 -6.48  2.26
2797  2028-01-04  1.22  0.80  3.77  0.49  1.33
2798  2028-01-05  3.22  0.64 -1.14 -0.99  8.17
2799  2028-01-06 -2.21  0.13  2.76 -3.66 -2.23

[100 rows x 6 columns]
      Unnamed: 0    股票0   股票1   股票2   股票3   股票4
2800  2028-01-07   2.22 -0.14 -5.05  1.11  1.94
2801  2028-01-08  -1.82  2.69  4.39  3.61 -0.78
2802  2028-01-09   2.53  2.69  0.81 -3.65  1.04
2803  2028-01-10   4.04 -3.67  1.25  2.37 -0.81
2804  2028-01-11  -1.37  7.09  0.18  0.46 -3.78
...          ...    ...   ...   ...   ...   ...
2895  2028-04-11   1.45  0.88  1.65 -3.32 -1.88
2896  2028-04-12  -3.33 -1.59  5.83 -2.56 -5.44
2897  2028-04-13 -10.83 -1.82 -1.26  1.46 -1.77
2898  2028-04-14  -2.55 -0.59 -2.47 -4.45 -0.28
2899  2028-04-15   1.87  0.49 -2.57 -1.07 -1.82

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
2900  2028-04-16  3.81 -0.49  0.62 -3.21  2.37
2901  2028-04-17 -0.60  2.56  6.83  3.10 -2.02
2902  2028-04-18  1.16 -1.69  0.20  1.57  0.05
2903  2028-04-19  1.64 -3.13 -2.11 -0.09  0.08
2904  2028-04-20 -0.13  0.06  1.16  2.10 -1.68
...          ...   ...   ...   ...   ...   ...
2995  2028-07-20  2.14  4.38 -2.00  0.16  3.17
2996  2028-07-21 -0.94  2.10  0.30  0.23  0.13
2997  2028-07-22 -1.34 -1.99 -2.83 -5.48  0.81
2998  2028-07-23 -2.41 -1.17 -0.26 -1.72  4.73
2999  2028-07-24  4.20 -0.43  0.46  2.61  2.96

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
3000  2028-07-25 -6.27 -0.15 -2.53  6.97  2.09
3001  2028-07-26 -7.11 -6.16 -4.79 -0.24  1.42
3002  2028-07-27 -0.38  1.87  4.08  0.07 -4.51
3003  2028-07-28 -3.38 -0.70 -1.13 -2.82  3.96
3004  2028-07-29  3.22  4.38 -2.39  0.07  1.20
...          ...   ...   ...   ...   ...   ...
3095  2028-10-28  1.94  0.25  3.66  0.44 -2.27
3096  2028-10-29  0.83 -0.59 -2.81 -0.61 -0.63
3097  2028-10-30  4.10 -0.08  0.80 -2.03 -2.05
3098  2028-10-31 -0.62  0.78  0.48  3.13  0.66
3099  2028-11-01  0.51 -1.56 -6.33 -2.81 -1.73

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
3100  2028-11-02 -2.41 -2.85 -3.52  1.01  2.90
3101  2028-11-03  0.07 -4.07 -4.87 -0.97 -4.75
3102  2028-11-04 -2.50  5.87 -0.10  3.01  3.69
3103  2028-11-05 -5.15 -5.89  2.26  0.45 -0.04
3104  2028-11-06 -1.75  2.96  2.10 -0.79 -4.20
...          ...   ...   ...   ...   ...   ...
3195  2029-02-05 -0.50  0.74  0.89 -0.88  2.63
3196  2029-02-06 -0.96  4.04 -1.40  1.52  2.03
3197  2029-02-07  0.75  0.48 -2.57 -2.49 -1.25
3198  2029-02-08 -2.28 -1.72  2.10  2.98 -6.31
3199  2029-02-09  0.48 -3.16  0.62  0.21 -0.87

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
3200  2029-02-10  4.28 -2.81 -1.51 -3.06 -2.24
3201  2029-02-11  3.48  0.06  1.77 -0.09  0.01
3202  2029-02-12 -0.93 -3.40 -5.14 -0.94  0.33
3203  2029-02-13 -0.18 -1.19  1.53  1.07  3.44
3204  2029-02-14  2.40  1.32  5.84 -3.70  1.36
...          ...   ...   ...   ...   ...   ...
3295  2029-05-16  0.23  0.53 -0.20 -0.27 -0.47
3296  2029-05-17 -5.43  3.83 -3.14 -6.11 -0.72
3297  2029-05-18 -0.17  4.31  2.41 -1.19 -1.06
3298  2029-05-19  1.60 -0.98  0.56  5.27 -7.11
3299  2029-05-20  0.90  0.08 -0.89  1.67  1.23

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3    股票4
3300  2029-05-21  2.07 -1.17  3.18 -1.57  -1.95
3301  2029-05-22  1.23  1.11  2.61  1.96  -0.97
3302  2029-05-23  0.05  1.94 -2.80 -5.50   0.22
3303  2029-05-24 -1.89 -4.73 -4.46  2.48   0.15
3304  2029-05-25  3.05 -3.91 -0.57  2.73  -2.62
...          ...   ...   ...   ...   ...    ...
3395  2029-08-24  2.60 -1.39 -0.09 -1.85  11.15
3396  2029-08-25  2.03 -0.48 -3.10 -0.14   1.36
3397  2029-08-26 -0.81  0.56  1.27 -1.36   2.44
3398  2029-08-27 -0.79 -5.74  1.31 -3.79   3.35
3399  2029-08-28  1.86 -0.11 -6.33  0.18   1.23

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
3400  2029-08-29 -2.72 -2.91 -2.46  3.12  1.10

      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
3600  2030-03-17 -0.69 -5.00  4.60  2.02 -5.22
3601  2030-03-18 -4.22  0.05 -0.14  1.75  5.60
3602  2030-03-19 -0.49  5.19 -5.12 -1.08  1.25
3603  2030-03-20  2.84 -2.44  0.63 -1.12  3.17
3604  2030-03-21 -0.96 -1.07  5.45  1.00  1.53
...          ...   ...   ...   ...   ...   ...
3695  2030-06-20 -1.61 -4.93  0.87  3.32  1.56
3696  2030-06-21 -1.08 -4.53  3.29 -1.96 -0.98
3697  2030-06-22 -1.16 -0.15 -5.69 -1.25 -3.44
3698  2030-06-23  2.83  0.18  0.05  1.06 -2.95
3699  2030-06-24 -5.67 -4.41  3.76 -3.73 -3.30

[100 rows x 6 columns]
      Unnamed: 0    股票0   股票1   股票2   股票3   股票4
3700  2030-06-25   2.46  3.30  1.27  1.41 -5.15
3701  2030-06-26   4.98  1.54  0.03 -1.46  0.03
3702  2030-06-27   4.51 -0.67 -3.13 -5.88  4.27
3703  2030-06-28  10.49 -0.98 -0.06 -1.10 -1.65
3704  2030-06-29  -1.33  0.26  1.14 -2.56 -0.32
...          ...    ...   ...   ...   ...   ...
3795  2030-09-28  -2.04 -2.63 -2.50 -5.82 -3.77
3796  2030-09-29   0.44  0.43 -1.66  2.17 -3.64
3797  2030-09-30   3.34  5.50  0.25 -0.12 -1.41
3798  2030-10-01  -0.40  1.14 -0.13  0.14  1.62
3799  2030-10-02   1.88 -5.13 -1.25  2.53  5.76

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
3800  2030-10-03  0.17 -1.58  2.85  4.18  3.75
3801  2030-10-04 -2.35  2.74 -0.47 -4.52  1.27
3802  2030-10-05  1.57  5.73  3.71 -0.61  2.94
3803  2030-10-06  6.23  0.93 -4.66  0.62 -1.67
3804  2030-10-07  1.99  4.89 -0.95  2.20 -1.69
...          ...   ...   ...   ...   ...   ...
3895  2031-01-06  3.63  0.07  1.41 -6.23 -0.70
3896  2031-01-07 -0.70  3.15 -2.89 -3.43 -5.12
3897  2031-01-08  3.13  5.26 -3.10  2.34  5.23
3898  2031-01-09  1.77 -1.74 -1.08  4.41  3.18
3899  2031-01-10 -0.16 -0.79 -3.70  2.56 -3.94

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
3900  2031-01-11  5.10 -4.89 -1.18 -1.45 -5.41
3901  2031-01-12 -2.63 -1.01  3.20  1.37  4.11
3902  2031-01-13  1.34  0.65  5.53  2.28  0.94
3903  2031-01-14 -3.53 -4.60  1.46 -3.74 -1.33
3904  2031-01-15  1.57  1.93 -0.30 -2.12 -0.29
...          ...   ...   ...   ...   ...   ...
3995  2031-04-16  4.77 -0.18  1.93 -4.85 -3.70
3996  2031-04-17 -2.15  1.26  3.83  1.59 -1.53
3997  2031-04-18 -1.26 -1.14  0.04  1.44  8.10
3998  2031-04-19 -5.74  2.10  3.10 -1.76 -4.74
3999  2031-04-20 -0.47 -0.29  1.76  1.46  1.54

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3    股票4
4000  2031-04-21  3.99 -2.57 -2.97 -7.84   1.94
4001  2031-04-22  1.36  1.19  3.07 -2.89  -1.29
4002  2031-04-23  1.99 -2.45  1.89 -4.59  -3.79
4003  2031-04-24  0.91 -2.53 -0.72 -2.34  -4.33
4004  2031-04-25 -1.72  5.20  2.69 -4.04  -2.94
...          ...   ...   ...   ...   ...    ...
4095  2031-07-25 -3.29  0.05  5.78 -3.48  -3.34
4096  2031-07-26 -2.33  2.45  3.86 -2.56   2.35
4097  2031-07-27 -2.27 -3.99  2.36  3.11  -1.02
4098  2031-07-28 -0.78  2.84  7.02  2.15 -10.95
4099  2031-07-29 -3.41 -0.66 -0.15  0.15   0.63

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
4100  2031-07-30  0.17  1.32 -2.14  1.90 -0.92
4101  2031-07-31  2.20 -2.72 -1.45 -0.91  1.02
4102  2031-08-01 -5.15  3.42 -1.72 -0.59  1.63
4103  2031-08-02 -3.94 -0.09 -4.67  0.21 -0.51
4104  2031-08-03 -1.33  2.57  2.38  3.78 -2.94
...          ...   ...   ...   ...   ...   ...
4195  2031-11-02 -0.17  4.60  0.41 -0.36  1.50
4196  2031-11-03 -1.32 -0.68 -0.04 -4.74  4.31
4197  2031-11-04  1.18 -3.12 -3.67  4.67  2.23
4198  2031-11-05  1.34 -1.09  6.26  2.41  2.27
4199  2031-11-06  6.96  0.40 -2.34 -1.14  3.09

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
4200  2031-11-07  3.42  0.17 -2.55  6.69 -1.22
4201  2031-11-08 -4.45  0.01 -4.74 -0.91  1.03
4202  2031-11-09  0.60 -2.30  1.10 -1.48 -6.42
4203  2031-11-10 -1.95 -3.40 -1.38 -4.53 -2.24
4204  2031-11-11 -0.60  0.96 -0.07 -0.53 -1.52
...          ...   ...   ...   ...   ...   ...
4295  2032-02-10 -0.60  1.00 -3.03 -1.93 -0.89
4296  2032-02-11  0.95 -2.95  1.69  0.30 -3.77
4297  2032-02-12  0.79 -2.99  1.93  1.93 -2.81
4298  2032-02-13  2.58  3.93 -2.65  0.89 -3.12
4299  2032-02-14  2.11  5.11  0.26  1.71 -0.40

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
4300  2032-02-15 -5.17 -0.64  0.81  1.56 -5.57
4301  2032-02-16  0.68 -3.01  1.35 -3.33 -1.19
4302  2032-02-17 -3.90 -3.40  4.09  1.42  0.12
4303  2032-02-18 -0.73 -0.83 -5.07  3.59 -1.50
4304  2032-02-19  1.21 -0.03 -2.85  1.96  5.93
...          ...   ...   ...   ...   ...   ...
4395  2032-05-20  2.85 -0.85 -2.23  4.92  0.85
4396  2032-05-21  0.14 -4.78  2.44  0.51 -0.16
4397  2032-05-22  5.22  2.79 -2.58  1.29  0.66
4398  2032-05-23  3.78 -1.38 -1.55  3.52  4.93
4399  2032-05-24  1.98 -0.25 -1.22  0.15 -1.23

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
4400  2032-05-25  1.94  1.38 -2.08  5.63 -0.62
4401  2032-05-26 -4.65  3.48 -6.78  5.27  1.82
4402  2032-05-27 -2.24 -7.35  3.00 -1.70 -2.60
4403  2032-05-28 -1.42 -1.70 -0.53 -1.32  1.24
4404  2032-05-29 -0.79 -3.74 -5.99  0.65 -2.48
...          ...   ...   ...   ...   ...   ...
4495  2032-08-28  1.61 -2.11 -2.48  2.40  0.67
4496  2032-08-29  4.57  1.99  1.36  2.08 -3.60
4497  2032-08-30  2.09 -1.86  2.13  0.15  3.32
4498  2032-08-31 -1.53 -5.97  1.44  0.35 -0.28
4499  2032-09-01  1.43  2.31 -3.21 -2.73 -1.35

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
4500  2032-09-02 -2.81 -0.76 -3.13 -3.44 -5.02
4501  2032-09-03 -2.21  3.48  0.10 -2.49 -1.12
4502  2032-09-04 -0.53  4.27 -5.80 -2.55  1.03
4503  2032-09-05  1.17  1.39  9.76 -1.59  0.65
4504  2032-09-06  3.15 -0.81 -1.11  2.26  1.97
...          ...   ...   ...   ...   ...   ...
4595  2032-12-06 -3.17 -5.61  1.68  3.44 -2.04
4596  2032-12-07 -0.25 -0.83 -0.60 -5.43  1.56
4597  2032-12-08 -2.20  1.45 -0.04  1.30 -1.49
4598  2032-12-09  3.21 -3.70 -0.83 -3.75 -1.34
4599  2032-12-10 -8.79  3.88 -0.32 -3.66  3.86

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
4600  2032-12-11  1.59  4.70  0.33 -2.38 -0.12
4601  2032-12-12  1.16  0.73 -0.69 -0.39 -1.00
4602  2032-12-13 -2.41 -2.90 -4.85 -2.03  1.38
4603  2032-12-14 -5.43  3.11 -1.92 -3.55  2.34
4604  2032-12-15  4.71 -3.09  1.60  7.88 -1.64
...          ...   ...   ...   ...   ...   ...
4695  2033-03-16  1.07  2.07 -0.92 -1.01  7.31
4696  2033-03-17  3.69  3.88 -2.43  0.78 -2.75
4697  2033-03-18 -1.10  1.65  1.09 -1.81  1.73
4698  2033-03-19  0.26  0.23 -0.46  1.50 -1.22
4699  2033-03-20 -0.39 -1.46  2.44  1.21  2.23

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
4700  2033-03-21 -0.66  1.10  5.26 -2.43  0.48
4701  2033-03-22 -1.39 -2.25 -0.66 -0.44 -6.08
4702  2033-03-23  1.79  0.40  1.88 -2.51  2.52
4703  2033-03-24  2.19  1.01  1.87  3.10 -3.25
4704  2033-03-25  2.76  1.34 -6.18  0.00 -1.80
...          ...   ...   ...   ...   ...   ...
4795  2033-06-24  0.68 -4.77 -2.04 -0.04 -0.83
4796  2033-06-25  6.00  0.50 -3.72 -1.41  2.81
4797  2033-06-26  1.15  2.67 -0.72  0.13 -1.16
4798  2033-06-27  0.05  5.94 -0.77 -4.17 -1.36
4799  2033-06-28 -1.63 -2.49  1.97  1.63  2.64

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
4800  2033-06-29  3.12 -2.24  4.41 -4.36  1.72
4801  2033-06-30 -0.76  1.29 -2.46  1.30 -1.05
4802  2033-07-01  4.07 -2.31 -0.73  3.67 -2.13
4803  2033-07-02  1.53  1.61  1.90 -6.03 -2.81
4804  2033-07-03 -3.70 -1.23  4.97 -1.00  5.18
...          ...   ...   ...   ...   ...   ...
4895  2033-10-02  0.85 -2.96 -1.97  2.79  0.90
4896  2033-10-03 -2.39  0.97  0.82 -3.41  1.69
4897  2033-10-04 -2.48 -1.20 -2.69  1.31 -0.58
4898  2033-10-05  1.16 -0.91  2.61 -2.50  0.10
4899  2033-10-06  1.96 -0.61  1.11  1.61 -1.76

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
4900  2033-10-07 -0.49 -3.96 -0.18  5.22 -2.04
4901  2033-10-08  2.64  3.28 -2.06 -0.57 -1.40
4902  2033-10-09  0.65  0.45 -3.11  4.86 -1.87
4903  2033-10-10  1.24 -0.41 -0.44  3.00  1.24
4904  2033-10-11  2.21  2.10  0.12  6.13 -1.15
...          ...   ...   ...   ...   ...   ...
4995  2034-01-10  0.62  6.46 -2.56  1.19 -5.90
4996  2034-01-11 -3.74  1.70 -0.09 -4.09  0.21
4997  2034-01-12 -0.91 -5.76 -0.91  0.62 -4.35
4998  2034-01-13  2.56  0.69  1.40  1.76  0.83
4999  2034-01-14 -1.25  7.29 -0.18  8.32  0.26

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
5000  2034-01-15 -2.85  2.33 -5.84  0.16 -3.46
5001  2034-01-16  4.24  4.84 -5.89  2.73  8.90
5002  2034-01-17 -1.36  0.27 -1.40  2.49 -1.05
5003  2034-01-18  2.96  1.28 -3.39  1.03 -1.33
5004  2034-01-19 -1.13 -6.89  4.23 -1.66 -2.99
...          ...   ...   ...   ...   ...   ...
5095  2034-04-20  4.03  1.39 -2.19  1.98 -1.06
5096  2034-04-21  2.36 -1.23  4.87 -2.68 -3.97
5097  2034-04-22 -1.27 -5.15  1.52 -3.43  2.63
5098  2034-04-23 -0.52 -0.69 -8.59 -2.72 -2.15
5099  2034-04-24 -0.42  3.02  3.50  1.70 -1.76

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
5100  2034-04-25 -9.03 -0.40 -1.13  3.49 -4.81
5101  2034-04-26  2.56  5.91  1.95  0.71  0.06
5102  2034-04-27 -1.54  0.20  1.87  5.40 -7.40
5103  2034-04-28 -4.83  0.34 -0.58 -1.80 -2.36
5104  2034-04-29 -3.94 -0.58 -0.20 -2.32 -3.08
...          ...   ...   ...   ...   ...   ...
5195  2034-07-29  0.92  1.84 -2.20  0.99 -1.69
5196  2034-07-30 -3.70  8.34 -1.91  3.46 -2.08
5197  2034-07-31  1.04  1.23  4.41 -2.00  2.36
5198  2034-08-01 -1.26 -4.02  1.26  1.51  3.90
5199  2034-08-02  2.43 -3.20 -3.94 -2.46 -0.96

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3    股票4
5200  2034-08-03 -3.07  0.15  4.15 -0.51  -1.38
5201  2034-08-04  6.75 -0.95  2.23 -0.04   4.80
5202  2034-08-05 -1.89  0.20 -3.01  2.45   1.80
5203  2034-08-06  2.42  0.52  2.01  1.41   1.21
5204  2034-08-07 -1.88 -4.14  0.92  1.25   0.84
...          ...   ...   ...   ...   ...    ...
5295  2034-11-06 -2.55 -3.44 -8.08 -1.41 -11.91
5296  2034-11-07  4.96  1.70 -3.18 -1.43  -1.75
5297  2034-11-08 -1.25 -1.34  3.54 -1.65  -0.32
5298  2034-11-09  4.97  0.92  2.50 -1.30  -0.27
5299  2034-11-10  4.57 -1.80  2.27 -3.74   4.68

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
5300  2034-11-11 -4.14 -2.02  2.70  0.84 -0.33
5301  2034-11-12  0.88  1.32  0.29  0.12  0.50
5302  2034-11-13 -5.99  3.01  6.66  0.83  0.53
5303  2034-11-14 -0.32  4.07 -4.40 -2.14  0.70
5304  2034-11-15 -1.02  1.17 -0.10  4.56 -0.83
...          ...   ...   ...   ...   ...   ...
5395  2035-02-14 -0.06 -2.05  2.31 -1.33  1.54
5396  2035-02-15 -1.19  0.78 -2.49  0.23 -0.00
5397  2035-02-16  2.14  2.50  0.12 -0.33 -3.78
5398  2035-02-17 -0.64  1.89 -0.81 -0.22 -1.94
5399  2035-02-18 -0.69  0.84 -0.41 -0.47 -0.90

[100 rows x 6 columns]
      Unnamed: 0   股票0    股票1   股票2   股票3   股票4
5400  2035-02-19 -0.22  -4.55  0.54  1.16 -1.64
5401  2035-02-20  5.46   0.15  0.29 -0.00 -2.11
5402  2035-02-21 -6.49  -0.70 -2.59  1.86 -0.57
5403  2035-02-22  1.90  -5.08 -1.69  3.92 -1.71
5404  2035-02-23  3.75  10.11 -1.48 -2.14 -0.45
...          ...   ...    ...   ...   ...   ...
5495  2035-05-25  2.62  -2.13 -0.18  6.50  1.25
5496  2035-05-26 -0.34   4.12 -3.56  3.35  0.26
5497  2035-05-27 -0.00   4.18 -3.56  0.10 -2.49
5498  2035-05-28 -3.02  -1.90  2.85 -3.22  0.07
5499  2035-05-29 -4.37   4.09  1.19 -5.11  0.20

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
5500  2035-05-30 -3.07 -1.84 -0.81  1.88 -3.29
5501  2035-05-31  2.87  1.95  0.76  0.84  1.33
5502  2035-06-01  1.44  2.14  0.93  0.57 -2.38
5503  2035-06-02  1.46  1.33  4.92 -0.23  3.77
5504  2035-06-03  4.13 -1.02  0.81  6.24  0.52
...          ...   ...   ...   ...   ...   ...
5595  2035-09-02 -2.74 -2.91  0.64  0.33  0.67
5596  2035-09-03 -0.13 -1.46  4.01  1.21 -0.61
5597  2035-09-04  1.75  2.20  5.22  1.62 -3.68
5598  2035-09-05 -0.13  2.65 -1.26  0.72  4.79
5599  2035-09-06 -1.64 -6.52  0.50  3.79 -0.32

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
5600  2035-09-07  0.71 -1.32  2.86 -0.36  0.65
5601  2035-09-08  5.08 -1.87 -4.05 -0.23  7.68
5602  2035-09-09  0.97 -3.45  4.85  3.34  1.44
5603  2035-09-10 -1.12 -1.55  2.36  3.89  1.28
5604  2035-09-11  1.83  2.07  1.24  1.28  0.97
...          ...   ...   ...   ...   ...   ...
5695  2035-12-11  2.54  3.36 -3.55  2.29 -1.98
5696  2035-12-12  2.89 -0.44 -2.95  2.75 -2.31
5697  2035-12-13  0.27 -1.95 -2.48 -0.06  2.56
5698  2035-12-14 -2.30  2.36  1.59  1.47 -1.08
5699  2035-12-15 -5.20  0.79 -1.27  1.60  0.46

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
5700  2035-12-16  4.95  0.32  2.21 -0.71  7.70
5701  2035-12-17  4.09  1.71  0.58  0.44 -0.12
5702  2035-12-18 -2.77 -1.83 -0.89  2.12  0.81
5703  2035-12-19 -3.07  0.46 -1.57  5.13 -0.42
5704  2035-12-20 -1.43  5.74  0.49 -2.05 -1.88
...          ...   ...   ...   ...   ...   ...
5795  2036-03-20  1.33 -1.58 -2.44  2.57  6.30
5796  2036-03-21 -0.78 -3.81 -0.59  2.29  3.07
5797  2036-03-22  1.44 -3.88 -0.17  1.85 -1.93
5798  2036-03-23  5.23 -0.78  3.87 -2.92  2.04
5799  2036-03-24  3.81 -2.78  2.92 -1.80 -5.41

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
5800  2036-03-25 -1.86 -1.37 -2.68  2.81  1.51
5801  2036-03-26 -1.34 -2.28 -0.97  2.16  2.02
5802  2036-03-27 -0.45  5.52 -1.05  0.38 -1.26
5803  2036-03-28 -0.99 -4.02 -1.43  3.78  1.24
5804  2036-03-29 -3.47  3.10 -5.62 -4.91  4.06
...          ...   ...   ...   ...   ...   ...
5895  2036-06-28  2.29 -1.20  5.58 -5.94 -0.64
5896  2036-06-29 -0.75 -1.30  0.38  0.92 -2.02
5897  2036-06-30 -1.04  1.69 -3.89 -2.32  0.80
5898  2036-07-01 -2.13  1.23 -2.65  2.56  6.29
5899  2036-07-02 -0.20 -6.29 -3.84 -0.09 -1.54

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
5900  2036-07-03 -1.93 -1.34  0.49 -1.62 -4.90
5901  2036-07-04 -1.22  4.00  5.04  2.55 -3.54
5902  2036-07-05 -1.77  5.29 -4.56 -1.08  3.74
5903  2036-07-06 -4.94 -0.23 -1.88  2.37 -1.12
5904  2036-07-07 -0.81 -4.59  4.76  3.48 -1.57
...          ...   ...   ...   ...   ...   ...
5995  2036-10-06 -2.39  2.85 -2.58 -2.12  0.83
5996  2036-10-07  6.33  5.40  3.53  0.63 -0.06
5997  2036-10-08 -1.68  0.05  0.38 -4.49 -0.41
5998  2036-10-09  1.42 -2.76 -0.80 -0.21  6.59
5999  2036-10-10 -1.37  3.68 -1.70  1.78 -1.38

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
6000  2036-10-11 -3.91  0.21  0.63 -3.81  0.28
6001  2036-10-12  1.25 -0.63 -2.89 -0.55  0.93
6002  2036-10-13  2.32  0.72 -3.89 -1.69 -5.03
6003  2036-10-14  3.76  2.34 -7.99 -1.78 -2.01
6004  2036-10-15 -2.89  0.39 -0.47  2.42 -7.64
...          ...   ...   ...   ...   ...   ...
6095  2037-01-14  0.44  2.15  3.59 -1.65  3.21
6096  2037-01-15 -2.91  0.52 -3.01 -3.02  2.41
6097  2037-01-16  1.29  2.36  4.13 -6.58 -3.58
6098  2037-01-17 -7.43 -3.84 -3.59 -5.13 -5.27
6099  2037-01-18 -2.63 -0.88 -3.65 -0.39  3.59

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
6100  2037-01-19  0.28 -1.74 -0.08 -2.84  4.39
6101  2037-01-20 -2.74  1.12  1.44  3.07 -0.42
6102  2037-01-21 -4.05 -2.55 -4.39 -3.54  1.09
6103  2037-01-22  6.71 -3.15  2.32  1.13 -3.40
6104  2037-01-23 -0.96  0.50 -0.74 -1.21  1.06
...          ...   ...   ...   ...   ...   ...
6195  2037-04-24  1.44 -7.11  0.74  1.52 -2.67
6196  2037-04-25  1.63 -0.39 -4.73 -0.29 -0.61
6197  2037-04-26 -1.55  2.03  3.95 -4.22  0.08
6198  2037-04-27  4.86 -0.46  3.04  1.64 -1.01
6199  2037-04-28  1.41 -3.16 -2.26  3.91  0.01

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
6200  2037-04-29  1.52 -0.66 -0.45 -0.50  0.47
6201  2037-04-30  5.09  4.07  0.84  1.90  1.89
6202  2037-05-01 -2.41 -1.22  0.27 -0.33 -2.14
6203  2037-05-02  1.93  4.26 -3.16  1.06  1.40
6204  2037-05-03  0.92 -2.13  1.34  1.25 -0.24
...          ...   ...   ...   ...   ...   ...
6295  2037-08-02 -1.33 -1.59  5.22 -2.54  0.33
6296  2037-08-03 -0.40 -0.08 -1.04 -4.45 -2.04
6297  2037-08-04 -1.85 -4.68 -6.13  4.91  1.35
6298  2037-08-05  4.34 -0.91  0.37  1.32 -1.66
6299  2037-08-06  0.52  1.55 -7.49  3.53 -1.20

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
6300  2037-08-07 -1.57  0.14  2.11  4.12 -2.45
6301  2037-08-08  0.90  5.22  0.33  0.33  0.72
6302  2037-08-09  3.51  4.16 -0.74 -3.19 -0.61
6303  2037-08-10  2.05 -1.44  2.55  0.36 -2.43
6304  2037-08-11  0.59 -3.65  0.52  1.12  0.09
...          ...   ...   ...   ...   ...   ...
6395  2037-11-10 -2.75  4.81  1.41 -3.18 -2.20
6396  2037-11-11 -1.48 -1.70  3.01  2.82 -2.68
6397  2037-11-12 -0.75  0.30  3.52  1.40  0.46
6398  2037-11-13 -0.88 -1.63  4.17 -2.77 -1.67
6399  2037-11-14 -2.40  4.29  8.13 -1.85 -2.65

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
6400  2037-11-15  5.78  6.85  1.35 -2.53  0.02
6401  2037-11-16  2.26 -2.90  1.50 -2.47  6.88
6402  2037-11-17 -1.73 -7.05  4.54 -4.75 -1.22
6403  2037-11-18 -1.74  0.36  5.01 -3.23 -0.94
6404  2037-11-19  0.30  0.70  0.49 -1.44  2.30
...          ...   ...   ...   ...   ...   ...
6495  2038-02-18  4.09 -0.66  1.69 -6.23  1.89
6496  2038-02-19 -0.49  1.24  0.41  2.01  1.93
6497  2038-02-20 -4.95  2.37  1.26  0.93  1.49
6498  2038-02-21  2.52  2.84  2.98 -1.92  3.09
6499  2038-02-22  0.45  0.61 -1.56 -1.19 -1.50

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
6500  2038-02-23  1.30  0.64  2.91 -0.79 -0.59
6501  2038-02-24 -4.34  4.73  1.53 -0.13  0.94
6502  2038-02-25 -1.19  1.97  2.33 -2.64 -1.03
6503  2038-02-26 -4.74 -2.67 -5.05 -7.92 -5.24
6504  2038-02-27  2.79  3.55 -0.60  0.34 -2.71
...          ...   ...   ...   ...   ...   ...
6595  2038-05-29 -4.01  2.89 -0.65 -6.87  0.64
6596  2038-05-30 -0.63 -3.59 -0.28 -2.12 -1.67
6597  2038-05-31  3.84  1.69  2.48 -0.05  0.33
6598  2038-06-01  1.72  3.16  4.23  1.08 -4.32
6599  2038-06-02 -1.14 -0.04 -2.57  2.25 -0.39

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
6600  2038-06-03 -2.03  4.24  0.24  0.51 -4.12
6601  2038-06-04  3.41 -0.27  1.24  1.92 -0.79
6602  2038-06-05  1.50 -0.20 -2.66 -0.84  2.39
6603  2038-06-06 -1.71 -1.36  2.96 -2.33 -1.69
6604  2038-06-07 -0.83 -4.30  2.15 -2.35 -2.52
...          ...   ...   ...   ...   ...   ...
6695  2038-09-06  2.83 -0.42  1.23  1.24 -0.98
6696  2038-09-07 -1.38 -0.42 -2.24  2.69  0.26
6697  2038-09-08  3.13 -1.85 -5.89  2.58 -0.19
6698  2038-09-09  2.61 -1.64 -1.34 -2.16 -1.17
6699  2038-09-10  3.05 -0.61  0.43 -5.79  0.39

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
6700  2038-09-11 -0.84 -0.66 -2.08 -2.70  5.06
6701  2038-09-12  1.24 -0.17  3.13 -1.35  2.22
6702  2038-09-13 -3.81 -3.39  1.92  8.17  0.08
6703  2038-09-14 -1.23  1.04 -4.11  1.58  0.67
6704  2038-09-15  0.51  3.47 -1.26  3.00 -1.15
...          ...   ...   ...   ...   ...   ...
6795  2038-12-15 -0.45 -3.10  1.70 -2.32 -2.20
6796  2038-12-16 -1.73 -1.63 -1.59 -1.11 -0.69
6797  2038-12-17  3.01  1.85  5.02 -3.80  2.51
6798  2038-12-18 -3.73 -3.35 -1.11 -3.71 -1.66
6799  2038-12-19  1.93  2.09 -1.62  0.36  0.48

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
6800  2038-12-20  2.18 -0.29 -1.62 -0.82  1.54
6801  2038-12-21 -4.66  4.11  3.51  1.64 -6.32
6802  2038-12-22 -4.43 -0.70  1.79 -2.91 -0.15
6803  2038-12-23  0.46  1.68 -4.37  4.68  4.65
6804  2038-12-24 -1.31 -3.12 -2.89 -4.13  1.30
...          ...   ...   ...   ...   ...   ...
6895  2039-03-25 -0.30  0.08  3.38  1.23 -3.68
6896  2039-03-26 -1.58  1.91 -0.89 -1.42 -3.24
6897  2039-03-27  5.68  0.27 -0.20 -0.18  0.85
6898  2039-03-28 -1.74 -3.81  1.60 -7.56 -5.32
6899  2039-03-29  3.89 -0.60  3.82 -0.16 -1.64

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
6900  2039-03-30  2.90 -1.55 -0.97 -0.24  1.93
6901  2039-03-31  3.01  3.27 -3.44  3.85 -3.15
6902  2039-04-01 -2.72 -0.81  0.39 -1.99  2.09
6903  2039-04-02  0.54  3.67 -0.89 -1.39 -2.93
6904  2039-04-03 -1.59  3.10  3.30 -1.69 -1.23
...          ...   ...   ...   ...   ...   ...
6995  2039-07-03 -0.28 -5.80  0.70  1.00 -8.58
6996  2039-07-04  3.52  0.02  0.61 -3.62 -3.57
6997  2039-07-05  1.87  5.03 -5.00 -1.72  0.06
6998  2039-07-06 -1.42  0.74  0.73 -2.65 -6.82

      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
7000  2039-07-08  1.42 -1.01 -0.09  2.90 -2.52
7001  2039-07-09  0.18 -3.17 -0.01  0.68  0.96
7002  2039-07-10  1.65  3.34 -0.62 -1.01  2.93
7003  2039-07-11  0.88 -4.22 -0.06 -3.39 -2.75
7004  2039-07-12  0.35 -0.14  4.80  0.15 -5.04
...          ...   ...   ...   ...   ...   ...
7095  2039-10-11 -2.46  1.12 -5.44 -0.01  4.41
7096  2039-10-12  2.61 -1.75 -4.66  0.88 -4.20
7097  2039-10-13  0.88  5.18 -0.27  0.13 -0.68
7098  2039-10-14  1.72  2.85  2.13 -1.43  0.25
7099  2039-10-15 -2.64 -2.62  1.80 -0.71  5.61

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
7100  2039-10-16  4.06 -1.11  5.12 -3.66 -0.17
7101  2039-10-17 -2.60  2.81 -5.63  0.51  1.55
7102  2039-10-18 -0.16  8.26 -0.11 -1.95 -5.33
7103  2039-10-19  5.93 -0.99  3.46 -1.23 -2.46
7104  2039-10-20  0.52 -5.48 -3.08  1.49 -0.08
...          ...   ...   ...   ...   ...   ...
7195  2040-01-19 -1.56 -0.39  1.46  0.18 -0.58
7196  2040-01-20  2.77  3.11 -0.39 -1.47 -1.94
7197  2040-01-21  2.48 -1.63 -0.56  0.59  1.17
7198  2040-01-22  1.96  5.47  1.02 -5.11  3.40
7199  2040-01-23  0.28 -0.86 -1.41 -0.02  2.52

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
7200  2040-01-24 -3.59 -3.22 -4.46  1.21 -1.33
7201  2040-01-25  2.72  3.32 -1.41 -2.58  1.22
7202  2040-01-26  2.74  4.90  0.96 -3.09 -4.15
7203  2040-01-27 -1.44  7.96  4.45 -0.98 -1.99
7204  2040-01-28  2.21 -4.34 -4.09  3.68 -1.26
...          ...   ...   ...   ...   ...   ...
7295  2040-04-28  3.23  4.52  2.07 -1.31 -2.31
7296  2040-04-29  0.94 -6.62  0.11 -0.65 -3.04
7297  2040-04-30 -2.24  1.72  0.01 -1.47  3.22
7298  2040-05-01 -1.75 -0.24  4.88  4.08  1.39
7299  2040-05-02  0.70 -1.80  3.47  4.66  6.41

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
7300  2040-05-03  3.23 -0.33 -0.39  0.13 -2.72
7301  2040-05-04 -1.71 -4.73 -1.04  4.61  3.39
7302  2040-05-05 -2.02  5.79  0.58 -1.72  4.71
7303  2040-05-06 -1.23  6.62 -0.30  0.04 -2.74
7304  2040-05-07 -2.40 -0.41 -1.87  0.93  3.22
...          ...   ...   ...   ...   ...   ...
7395  2040-08-06  1.03  1.41 -2.91 -1.79 -1.04
7396  2040-08-07 -1.63 -2.30  0.40 -0.61  1.26
7397  2040-08-08 -2.20  3.01 -1.17  1.41  2.63
7398  2040-08-09 -0.77  2.14  3.38 -0.37  3.62
7399  2040-08-10  2.87  3.49 -4.91 -3.47  3.89

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
7400  2040-08-11  3.80 -5.95 -4.62  2.04 -0.93
7401  2040-08-12 -4.20  1.11 -1.78  0.21 -0.32
7402  2040-08-13 -4.59 -2.83 -0.91 -1.18  3.31
7403  2040-08-14 -0.70  0.55 -1.67 -0.52 -0.62
7404  2040-08-15 -4.43 -3.16  0.92  0.10 -5.97
...          ...   ...   ...   ...   ...   ...
7495  2040-11-14  4.78  2.87 -2.18  0.56 -4.18
7496  2040-11-15 -4.59  2.23  1.73  0.44  1.29
7497  2040-11-16  6.60  1.02  6.78  1.96 -0.09
7498  2040-11-17  1.49 -0.52 -3.85 -0.21 -0.62
7499  2040-11-18  2.80 -1.04  1.69  1.27  1.42

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
7500  2040-11-19  1.71  3.26  1.56 -1.64 -0.75
7501  2040-11-20  3.24 -3.62 -1.34  1.24 -2.16
7502  2040-11-21  3.08 -2.26  2.90  1.77  4.97
7503  2040-11-22  1.60 -0.38  0.54 -4.50 -3.88
7504  2040-11-23  2.33 -1.24 -0.65  0.08  2.14
...          ...   ...   ...   ...   ...   ...
7595  2041-02-22  0.45  3.05  3.19  4.39  0.03
7596  2041-02-23 -3.85 -0.33  4.28 -0.79 -3.65
7597  2041-02-24  1.91  0.73 -7.73  1.71  2.01
7598  2041-02-25  0.78 -0.40 -3.14 -0.79 -2.47
7599  2041-02-26  1.57  1.27 -8.94 -2.03 -3.72

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
7600  2041-02-27 -0.72  1.50 -0.11  1.15  6.15
7601  2041-02-28  1.99  0.47 -3.68  7.35 -3.87
7602  2041-03-01 -0.60  1.32 -9.44  0.71  2.49
7603  2041-03-02 -2.75  4.58  3.58  0.42  6.18
7604  2041-03-03 -2.09 -0.55 -0.26  1.03 -0.18
...          ...   ...   ...   ...   ...   ...
7695  2041-06-02  1.20 -2.82  2.01 -1.25 -8.46
7696  2041-06-03 -4.09  2.74  2.69  0.55  2.66
7697  2041-06-04 -4.94 -0.39  0.95 -1.19  3.94
7698  2041-06-05 -3.87  2.52  1.49 -3.80  1.03
7699  2041-06-06 -5.62 -2.38  0.84  3.09 -2.58

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
7700  2041-06-07  8.21  0.61  1.74 -1.69 -1.96
7701  2041-06-08  0.54  1.02  0.10  2.16 -3.26
7702  2041-06-09  2.07  0.05  3.93  1.25 -1.73
7703  2041-06-10  3.17  2.15  2.90  4.58  2.18
7704  2041-06-11  1.88 -1.61 -2.48  2.72  2.06
...          ...   ...   ...   ...   ...   ...
7795  2041-09-10  0.05 -2.03 -6.25 -0.27 -1.92
7796  2041-09-11 -0.10  1.90 -0.31 -1.91  0.75
7797  2041-09-12  0.69 -3.22 -1.13 -0.34 -4.75
7798  2041-09-13 -0.35  1.49 -2.38 -2.54  0.32
7799  2041-09-14 -0.07 -3.10  5.19  2.27  0.00

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
7800  2041-09-15  0.60  4.95  0.46  2.76  3.59
7801  2041-09-16  4.84  0.59  2.34  1.03  4.26
7802  2041-09-17 -0.79 -1.35  3.93  0.34 -3.40
7803  2041-09-18 -4.04  4.36  3.54 -2.83  2.60
7804  2041-09-19  5.46  1.48  3.21 -1.31 -1.61
...          ...   ...   ...   ...   ...   ...
7895  2041-12-19  2.11 -0.65  1.79 -3.77 -1.27
7896  2041-12-20 -1.20 -1.66 -0.23  4.49  1.49
7897  2041-12-21 -4.36  5.53 -5.98 -3.29  5.34
7898  2041-12-22 -1.30  0.82 -0.07  4.57 -0.35
7899  2041-12-23 -1.65  0.80 -3.98  2.60 -3.65

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
7900  2041-12-24  0.99  0.72  0.49  2.81 -0.34
7901  2041-12-25 -1.93  0.13 -2.47  1.06 -0.45
7902  2041-12-26  3.09 -0.42 -3.32  2.14 -2.94
7903  2041-12-27 -2.27 -1.57  2.64  1.69 -2.16
7904  2041-12-28 -0.21 -0.53  1.47 -1.33 -4.12
...          ...   ...   ...   ...   ...   ...
7995  2042-03-29  0.15  0.23 -2.71  0.94 -0.77
7996  2042-03-30  2.53  0.87  3.69 -0.72 -0.31
7997  2042-03-31  1.17  0.35 -5.02 -4.77 -4.45
7998  2042-04-01  5.07 -2.37 -7.68  3.42  3.99
7999  2042-04-02  0.56 -1.36  3.13  2.34 -5.70

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
8000  2042-04-03  5.84  4.70 -2.83 -1.38  3.66
8001  2042-04-04 -0.43 -0.63  1.61 -0.98  4.12
8002  2042-04-05  5.33  0.30  3.81 -1.87  1.30
8003  2042-04-06 -4.62 -3.55  2.35 -3.99  1.05
8004  2042-04-07 -2.74 -7.33 -1.11 -3.39  4.19
...          ...   ...   ...   ...   ...   ...
8095  2042-07-07  4.52  0.23  3.53  0.01 -2.20
8096  2042-07-08  0.93 -2.66  0.50 -2.34  1.55
8097  2042-07-09  1.93  3.88 -1.94 -1.70 -4.23
8098  2042-07-10 -2.43  4.08  0.49 -4.14 -0.63
8099  2042-07-11  6.95  0.94  3.42  0.03  3.81

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
8100  2042-07-12  0.46  0.35 -2.11  1.86  1.88
8101  2042-07-13  4.82 -3.25 -1.16  5.79 -0.61
8102  2042-07-14 -0.10  3.48 -5.20  1.56 -2.24
8103  2042-07-15 -1.57  1.66 -3.94 -0.01 -1.29
8104  2042-07-16 -1.77 -2.47 -0.02 -4.32 -2.33
...          ...   ...   ...   ...   ...   ...
8195  2042-10-15  1.00  4.36  2.64 -0.41 -0.94
8196  2042-10-16 -0.29  0.41 -3.22 -5.01  1.26
8197  2042-10-17  9.12 -3.88  3.75 -3.46  4.42
8198  2042-10-18 -0.69  1.31 -2.39  5.46  0.31
8199  2042-10-19  1.37  2.83  1.44  3.61 -0.38

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
8200  2042-10-20 -5.48 -1.87  2.08  0.27 -4.35
8201  2042-10-21 -0.11  3.01  0.65 -6.15  3.75
8202  2042-10-22  0.33 -1.23 -3.65 -1.85  1.83
8203  2042-10-23 -0.29 -6.74 -4.01  6.51 -0.51
8204  2042-10-24  1.85 -3.79  0.41  0.58  0.62
...          ...   ...   ...   ...   ...   ...
8295  2043-01-23 -0.19 -1.68  3.59  2.89  5.12
8296  2043-01-24 -0.42 -1.69  1.37  2.18  0.61
8297  2043-01-25  0.26 -4.83  3.65 -2.05 -1.16
8298  2043-01-26  2.18 -2.58  3.19 -1.28  2.83
8299  2043-01-27 -0.20 -2.81  2.38 -3.20 -1.35

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
8300  2043-01-28  0.81 -0.10  1.83 -6.09 -0.65
8301  2043-01-29 -0.54 -3.68 -0.69 -1.00 -0.63
8302  2043-01-30  1.36 -2.85  1.83  5.54  4.62
8303  2043-01-31 -1.15 -1.11  2.88  8.87  0.44
8304  2043-02-01 -0.49  1.42 -0.27 -1.96  6.21
...          ...   ...   ...   ...   ...   ...
8395  2043-05-03 -1.64 -0.62 -5.08 -1.98 -0.07
8396  2043-05-04 -8.29  0.00  0.26 -5.35  0.35
8397  2043-05-05  0.94  2.54 -3.90  1.89  0.50
8398  2043-05-06 -3.29  6.04 -1.51  1.70  2.37
8399  2043-05-07  0.11 -2.26 -0.28  3.84  0.10

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
8400  2043-05-08  0.79 -0.78 -5.61 -1.29  5.21
8401  2043-05-09 -0.00  1.03 -3.17  1.44 -2.24
8402  2043-05-10  0.13 -5.70  0.70 -3.96 -3.35
8403  2043-05-11 -1.82  2.03 -2.10  1.30 -0.90
8404  2043-05-12 -3.75 -0.51  1.13  2.72 -0.58
...          ...   ...   ...   ...   ...   ...
8495  2043-08-11  1.20  0.14  0.89  2.74  3.67
8496  2043-08-12  2.71 -3.89 -0.28 -7.92  1.18
8497  2043-08-13  7.34  2.01  0.27 -1.36 -1.23
8498  2043-08-14  3.58 -1.77 -1.92  1.40 -0.05
8499  2043-08-15 -1.20  1.85 -2.20 -1.32  0.92

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
8500  2043-08-16 -4.27 -1.76 -1.74  0.72 -1.52
8501  2043-08-17 -1.69  4.95 -0.18 -0.07  4.66
8502  2043-08-18 -7.98 -0.37  3.88  1.33 -1.79
8503  2043-08-19  4.02  1.84  4.41  1.88 -4.15
8504  2043-08-20  2.74  3.05 -4.87  3.68  3.93
...          ...   ...   ...   ...   ...   ...
8595  2043-11-19  1.13 -2.09 -4.26 -1.37  0.71
8596  2043-11-20  2.36 -0.97 -0.90  4.62  0.11
8597  2043-11-21  3.14 -1.43 -2.29 -5.45  2.39
8598  2043-11-22 -2.07 -3.95  0.45 -2.46  1.92
8599  2043-11-23 -4.58 -1.11  0.45 -1.03  0.81

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
8600  2043-11-24 -2.31  0.94 -1.26  3.90 -1.03
8601  2043-11-25  0.07  2.23 -1.18  2.94  3.92
8602  2043-11-26  2.12  2.52  2.87  0.38  4.59
8603  2043-11-27  6.15  5.83  0.96  5.98 -4.63
8604  2043-11-28 -0.27 -2.11  1.36 -1.02 -2.85
...          ...   ...   ...   ...   ...   ...
8695  2044-02-27 -3.48 -3.96 -2.58  1.64  0.58
8696  2044-02-28  6.36 -4.69  9.36 -1.97  1.78
8697  2044-02-29 -1.66  3.30  4.22  0.17  4.33
8698  2044-03-01 -1.16 -1.61 -0.79 -0.24  0.02
8699  2044-03-02 -0.50 -0.82 -0.85 -4.49 -2.11

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
8700  2044-03-03  4.96 -3.95 -0.75  2.11  3.38
8701  2044-03-04  0.44  0.02 -1.79  1.32 -3.73
8702  2044-03-05 -2.19 -4.75  0.48  0.91 -3.42
8703  2044-03-06  2.12  2.06  1.83 -3.52 -0.26
8704  2044-03-07 -0.64 -1.63  1.87  2.34  2.04
...          ...   ...   ...   ...   ...   ...
8795  2044-06-06 -0.30 -0.25 -3.32  0.00  0.33
8796  2044-06-07 -0.47  2.85  4.70 -2.26  4.72
8797  2044-06-08 -0.32  3.36 -0.70  2.59 -6.01
8798  2044-06-09 -0.76  2.24 -4.36 -1.14 -3.71
8799  2044-06-10 -4.01  0.22 -3.29  2.06  2.18

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
8800  2044-06-11  1.33 -3.70  3.22 -0.42  5.61
8801  2044-06-12 -3.54 -0.88 -0.67 -0.47 -2.66
8802  2044-06-13  2.89 -0.77 -0.66 -7.74  1.93
8803  2044-06-14 -1.87 -3.87  2.27 -4.10 -0.97
8804  2044-06-15 -1.09  5.85  2.53 -4.26 -0.85
...          ...   ...   ...   ...   ...   ...
8895  2044-09-14  2.36 -2.57  1.32  3.24  1.56
8896  2044-09-15 -5.31  1.06 -0.19 -0.04  2.09
8897  2044-09-16  1.12 -0.94  0.88  2.23  1.67
8898  2044-09-17  0.09  4.92  5.22  2.56 -2.76
8899  2044-09-18  6.71 -0.55 -0.85 -2.95 -1.26

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
8900  2044-09-19 -2.49  0.75  0.04 -0.36 -6.15
8901  2044-09-20  4.15  0.85  2.64 -2.54  2.28
8902  2044-09-21 -0.53 -0.74 -1.16 -2.01 -1.99
8903  2044-09-22 -3.10 -0.07 -0.79  0.20 -2.30
8904  2044-09-23 -0.04 -2.40  7.62  1.73  1.80
...          ...   ...   ...   ...   ...   ...
8995  2044-12-23  1.22  1.82  0.58  0.48 -4.24
8996  2044-12-24  3.54  2.49  2.73 -3.37 -2.46
8997  2044-12-25 -4.99  0.33  0.61 -3.83 -0.90
8998  2044-12-26 -2.81 -0.60 -0.65  0.22 -6.25
8999  2044-12-27 -0.52  1.17 -4.29  0.81  5.09

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
9000  2044-12-28 -6.60  3.32  2.44  0.59  0.22
9001  2044-12-29 -0.94 -0.24  4.01  2.03 -2.02
9002  2044-12-30 -0.39  3.80 -0.93 -0.80 -4.53
9003  2044-12-31 -2.76  4.49  1.79 -3.49  2.32
9004  2045-01-01  1.49  0.50 -2.08 -0.56 -5.42
...          ...   ...   ...   ...   ...   ...
9095  2045-04-02  2.69 -0.84  1.80  2.79  1.01
9096  2045-04-03  3.99  2.78 -1.49  5.49  2.43
9097  2045-04-04  2.53  0.20  0.04  0.56 -0.71
9098  2045-04-05  4.16  0.78  2.85  3.22  2.16
9099  2045-04-06 -2.95  0.38 -4.88 -1.89 -6.08

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
9100  2045-04-07 -3.12 -0.58 -1.60 -6.77 -2.51
9101  2045-04-08 -0.35 -2.22  1.29  2.95 -4.52
9102  2045-04-09 -2.39  2.84 -2.29  1.51 -0.65
9103  2045-04-10 -0.22 -5.48  2.54 -1.10  4.99
9104  2045-04-11  1.85  3.18 -4.49  0.48  0.90
...          ...   ...   ...   ...   ...   ...
9195  2045-07-11  2.58  6.35  0.35  1.54  3.60
9196  2045-07-12  3.42  0.53 -4.56  2.51  0.05
9197  2045-07-13 -1.31  1.31  1.93  1.01  1.02
9198  2045-07-14  0.22 -2.21 -1.90  0.34  1.39
9199  2045-07-15 -1.26 -3.18  2.93  4.25 -6.25

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
9200  2045-07-16  1.89  0.71 -3.45 -1.58 -3.40
9201  2045-07-17 -0.82  6.82 -1.24 -2.66  1.22
9202  2045-07-18 -0.33  1.48 -1.63  2.39  1.03
9203  2045-07-19 -1.50  2.25 -3.55 -1.48 -0.04
9204  2045-07-20  3.73  2.87 -5.29  0.48  0.66
...          ...   ...   ...   ...   ...   ...
9295  2045-10-19 -2.27 -6.44 -0.84  6.10 -1.69
9296  2045-10-20 -3.40 -0.36  2.67 -0.53 -0.99
9297  2045-10-21 -5.45  3.63 -6.24  0.68  0.22
9298  2045-10-22 -4.21 -4.41  3.34 -0.12  3.43
9299  2045-10-23  1.84 -0.31  0.24 -1.80 -5.46

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
9300  2045-10-24  0.73 -1.46 -2.32  0.07 -2.54
9301  2045-10-25 -2.23 -2.65 -1.08 -1.11 -0.49
9302  2045-10-26 -4.66 -0.02  1.62  3.01  4.87
9303  2045-10-27  1.20  0.46  5.08 -0.78  4.55
9304  2045-10-28 -0.33 -4.39  1.39 -6.29  3.69
...          ...   ...   ...   ...   ...   ...
9395  2046-01-27  7.68  4.55 -4.81 -0.19  3.09
9396  2046-01-28  1.67 -0.04  0.18  0.65  1.84
9397  2046-01-29 -5.81 -0.47 -0.44 -0.61 -0.57
9398  2046-01-30  4.67 -6.08  2.54 -2.98  3.64
9399  2046-01-31 -2.73 -2.65  0.79 -2.75  0.43

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
9400  2046-02-01  1.18  8.26  4.79  2.86 -0.53
9401  2046-02-02  2.47  4.00 -1.74 -0.07 -1.17
9402  2046-02-03  1.12 -2.15  1.96 -2.55 -2.62
9403  2046-02-04 -1.82  3.83 -1.05  0.10 -1.76
9404  2046-02-05 -2.03 -0.47  3.52 -2.68 -3.09
...          ...   ...   ...   ...   ...   ...
9495  2046-05-07 -0.13  2.39 -0.84 -2.19 -1.58
9496  2046-05-08 -1.98 -0.48 -2.96 -2.45 -2.50
9497  2046-05-09  3.19  5.83  4.76 -4.00 -2.79
9498  2046-05-10 -1.53 -3.76 -1.21 -2.31  0.34
9499  2046-05-11 -2.77 -3.65  1.34 -3.86 -2.72

[100 rows x 6 columns]
      Unnamed: 0    股票0   股票1   股票2   股票3   股票4
9500  2046-05-12  -3.41  4.41  1.13 -4.39 -1.23
9501  2046-05-13   2.53  2.25  0.43 -0.55  0.82
9502  2046-05-14   0.26 -2.50 -3.57  3.32  0.39
9503  2046-05-15   3.92 -0.01  2.71  0.63 -1.87
9504  2046-05-16  -5.70 -1.01  0.44 -0.85  1.38
...          ...    ...   ...   ...   ...   ...
9595  2046-08-15   5.32  0.03 -3.40 -0.82 -2.35
9596  2046-08-16  11.18 -0.05  3.08  0.31 -0.18
9597  2046-08-17   1.74  1.94  4.24  2.74 -1.12
9598  2046-08-18  -5.33  3.48 -1.07  1.61 -1.34
9599  2046-08-19  -0.36  0.48 -3.46 -1.11 -1.04

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
9600  2046-08-20  0.21 -0.32  0.97  1.31 -3.71
9601  2046-08-21  3.80  2.45 -1.44  5.12  5.30
9602  2046-08-22  0.47 -7.45 -2.55 -2.14  1.31
9603  2046-08-23 -4.96  2.80  0.98  3.59 -1.54
9604  2046-08-24  3.26  0.16 -2.03  4.12 -0.62
...          ...   ...   ...   ...   ...   ...
9695  2046-11-23 -4.15 -0.04 -4.25 -4.04  2.05
9696  2046-11-24 -0.16  0.27 -0.54 -1.44 -2.79
9697  2046-11-25  1.57 -0.35 -1.65 -3.51  1.41
9698  2046-11-26  9.81 -0.43  2.01 -1.96  2.15
9699  2046-11-27 -1.11 -1.09 -5.71 -2.35  3.44

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
9700  2046-11-28  1.86 -2.55  0.59 -2.09 -0.36
9701  2046-11-29  0.93  1.93 -1.00 -0.27  1.93
9702  2046-11-30 -5.32 -0.43  3.50 -1.26 -0.94
9703  2046-12-01  0.23 -3.81 -4.39 -3.20 -0.25
9704  2046-12-02 -0.67 -2.67 -3.56  3.76  3.35
...          ...   ...   ...   ...   ...   ...
9795  2047-03-03  3.07 -0.74  1.42  2.49  3.96
9796  2047-03-04 -1.29  0.45 -7.43 -2.68 -0.55
9797  2047-03-05 -4.15 -4.23 -5.38  0.41  4.38
9798  2047-03-06  3.39  0.03 -1.60 -0.76  2.05
9799  2047-03-07 -3.66 -2.85 -2.31 -7.28  0.20

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
9800  2047-03-08 -0.59 -1.81 -3.48 -1.53 -3.44
9801  2047-03-09  1.33  2.45 -0.88 -6.17 -0.87
9802  2047-03-10 -1.15 -8.38 -1.07  5.29 -1.82
9803  2047-03-11  1.33  0.36  4.56  7.74 -0.40
9804  2047-03-12 -0.64  0.85 -4.57 -4.37 -1.62
...          ...   ...   ...   ...   ...   ...
9895  2047-06-11 -0.21  0.08  2.93  6.01 -0.21
9896  2047-06-12 -1.28  4.87 -3.54 -1.14 -1.92
9897  2047-06-13 -0.94 -0.09 -1.50  1.54 -0.12
9898  2047-06-14  1.38  0.40  2.13  6.43 -3.54
9899  2047-06-15  3.29 -3.08  6.98 -4.21  3.11

[100 rows x 6 columns]
      Unnamed: 0   股票0   股票1   股票2   股票3   股票4
9900  2047-06-16 -0.22  2.52  3.34 -0.35  3.25
9901  2047-06-17 -2.35 -0.45  1.02  0.76 -1.68
9902  2047-06-18  0.52 -2.07 -1.94  2.73 -0.76
9903  2047-06-19  0.25 -0.66 -4.86  0.78 -2.88
9904  2047-06-20  3.61  4.56  1.74 -2.50 -2.09
...          ...   ...   ...   ...   ...   ...
9995  2047-09-19 -1.86  0.55 -1.02 -0.73  3.18
9996  2047-09-20  0.02  2.72  0.15  2.85 -1.32
9997  2047-09-21  1.19 -2.27 -2.64  2.70 -1.86
9998  2047-09-22  1.50 -3.39  1.93 -2.34  2.33
9999  2047-09-23 -4.22 -0.97  1.17  4.06 -2.19

[100 rows x 6 columns]

In [14]:
pd.read_csv('数据源/exa4.csv',
            # 将第0列设置为索引
            index_col=0,
           # 读取一部分数据
            nrows = 100
           )

             股票0   股票1   股票2   股票3   股票4
2020-05-08  3.21  1.82  2.51 -3.61  4.03
2020-05-09  4.18 -3.25  1.34  0.58 -3.35
2020-05-10  4.52  3.95 -0.29 -5.73  1.81
2020-05-11  0.90  2.31 -0.74 -1.69 -3.10
2020-05-12  3.42  5.05 -3.42  2.35 -2.12
...          ...   ...   ...   ...   ...
2020-08-11  2.17  4.39  2.96 -1.07  1.46
2020-08-12  0.64 -1.52  2.97  0.56 -0.47
2020-08-13 -3.68 -1.91 -1.88  1.05 -4.18
2020-08-14  3.59 -2.19 -0.20 -2.43 -1.41
2020-08-15  0.70  5.56 -6.17 -5.64 -1.54

[100 rows x 5 columns]

In [15]:
data1 = pd.read_csv('数据源/exa4.csv',
            # 将第0列设置为索引
            index_col=0)

In [16]:
# 默认读取5行
data1.head(10)

             股票0   股票1   股票2   股票3   股票4
2020-05-08  3.21  1.82  2.51 -3.61  4.03
2020-05-09  4.18 -3.25  1.34  0.58 -3.35
2020-05-10  4.52  3.95 -0.29 -5.73  1.81
2020-05-11  0.90  2.31 -0.74 -1.69 -3.10
2020-05-12  3.42  5.05 -3.42  2.35 -2.12
2020-05-13  5.10 -3.86  6.30 -6.05 -0.90
2020-05-14  1.69 -6.45 -0.64  2.81  0.12
2020-05-15 -0.40  4.79  3.50 -0.26  1.88
2020-05-16 -3.52  2.63  1.34 -1.29  3.91
2020-05-17 -2.93  3.39  5.90  1.39  2.42

三种读取方式的区别：  
* chunksize：将整个数据根据参数的值进行划分，分成 文件总行数/chunksize 个数据，同时这些数据会被存储到一个可迭代对象中，如果希望查看到中间的数据可以使用循环遍历，不过该对象只能遍历一次。  
* norws：返回指定行数的数据，如果希望读取更多的行需要重新修改参数并运行读取代码。
* head()函数：文件对象head()，默认读取文件前5行，如果希望读取其他的数据只需要修改里面的参数即可，不需要重新读取文件。

In [17]:
# tail读取尾部的数据，从末尾开始读取，参数和head一样
data1.tail()

             股票0   股票1   股票2   股票3   股票4
2047-09-19 -1.86  0.55 -1.02 -0.73  3.18
2047-09-20  0.02  2.72  0.15  2.85 -1.32
2047-09-21  1.19 -2.27 -2.64  2.70 -1.86
2047-09-22  1.50 -3.39  1.93 -2.34  2.33
2047-09-23 -4.22 -0.97  1.17  4.06 -2.19

In [18]:
data1

             股票0   股票1   股票2   股票3   股票4
2020-05-08  3.21  1.82  2.51 -3.61  4.03
2020-05-09  4.18 -3.25  1.34  0.58 -3.35
2020-05-10  4.52  3.95 -0.29 -5.73  1.81
2020-05-11  0.90  2.31 -0.74 -1.69 -3.10
2020-05-12  3.42  5.05 -3.42  2.35 -2.12
...          ...   ...   ...   ...   ...
2047-09-19 -1.86  0.55 -1.02 -0.73  3.18
2047-09-20  0.02  2.72  0.15  2.85 -1.32
2047-09-21  1.19 -2.27 -2.64  2.70 -1.86
2047-09-22  1.50 -3.39  1.93 -2.34  2.33
2047-09-23 -4.22 -0.97  1.17  4.06 -2.19

[10000 rows x 5 columns]

In [19]:
data1.describe()

                股票0           股票1           股票2           股票3           股票4
count  10000.000000  10000.000000  10000.000000  10000.000000  10000.000000
mean      -0.008562     -0.029201      0.014023     -0.046922      0.078394
std        2.990990      3.004099      3.000648      2.982153      3.006461
min      -10.970000    -11.280000    -10.460000    -12.210000    -11.910000
25%       -1.970000     -2.050000     -2.000000     -2.030000     -1.940000
50%       -0.040000     -0.040000      0.010000     -0.010000      0.080000
75%        1.960000      2.030000      2.020000      1.910000      2.090000
max       11.180000     11.820000     10.790000     10.830000     11.150000

In [20]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 2020-05-08 to 2047-09-23
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   股票0     10000 non-null  float64
 1   股票1     10000 non-null  float64
 2   股票2     10000 non-null  float64
 3   股票3     10000 non-null  float64
 4   股票4     10000 non-null  float64
dtypes: float64(5)
memory usage: 468.8+ KB

#### 写出数据

In [21]:
col = [f'股票{i}' for i in range(100)]
col

['股票0',
 '股票1',
 '股票2',
 '股票3',
 '股票4',
 '股票5',
 '股票6',
 '股票7',
 '股票8',
 '股票9',
 '股票10',
 '股票11',
 '股票12',
 '股票13',
 '股票14',
 '股票15',
 '股票16',
 '股票17',
 '股票18',
 '股票19',
 '股票20',
 '股票21',
 '股票22',
 '股票23',
 '股票24',
 '股票25',
 '股票26',
 '股票27',
 '股票28',
 '股票29',
 '股票30',
 '股票31',
 '股票32',
 '股票33',
 '股票34',
 '股票35',
 '股票36',
 '股票37',
 '股票38',
 '股票39',
 '股票40',
 '股票41',
 '股票42',
 '股票43',
 '股票44',
 '股票45',
 '股票46',
 '股票47',
 '股票48',
 '股票49',
 '股票50',
 '股票51',
 '股票52',
 '股票53',
 '股票54',
 '股票55',
 '股票56',
 '股票57',
 '股票58',
 '股票59',
 '股票60',
 '股票61',
 '股票62',
 '股票63',
 '股票64',
 '股票65',
 '股票66',
 '股票67',
 '股票68',
 '股票69',
 '股票70',
 '股票71',
 '股票72',
 '股票73',
 '股票74',
 '股票75',
 '股票76',
 '股票77',
 '股票78',
 '股票79',
 '股票80',
 '股票81',
 '股票82',
 '股票83',
 '股票84',
 '股票85',
 '股票86',
 '股票87',
 '股票88',
 '股票89',
 '股票90',
 '股票91',
 '股票92',
 '股票93',
 '股票94',
 '股票95',
 '股票96',
 '股票97',
 '股票98',
 '股票99']

日期函数：  
pd.date_range(start = None, end = Node, periods = None, fre = None, tz = None, normalize = False, name = None, closed)
start:起始值  
end：结束值  
periods:总长度  
freq：时间间隔  
tz：时区  
normalize：是否标准化  
name：名称  
closed：首位是否在内

In [22]:
index_ = pd.date_range('2023-02-17',periods=100,freq='D')# D表示天，M表示月
index_

DatetimeIndex(['2023-02-17', '2023-02-18', '2023-02-19', '2023-02-20',
               '2023-02-21', '2023-02-22', '2023-02-23', '2023-02-24',
               '2023-02-25', '2023-02-26', '2023-02-27', '2023-02-28',
               '2023-03-01', '2023-03-02', '2023-03-03', '2023-03-04',
               '2023-03-05', '2023-03-06', '2023-03-07', '2023-03-08',
               '2023-03-09', '2023-03-10', '2023-03-11', '2023-03-12',
               '2023-03-13', '2023-03-14', '2023-03-15', '2023-03-16',
               '2023-03-17', '2023-03-18', '2023-03-19', '2023-03-20',
               '2023-03-21', '2023-03-22', '2023-03-23', '2023-03-24',
               '2023-03-25', '2023-03-26', '2023-03-27', '2023-03-28',
               '2023-03-29', '2023-03-30', '2023-03-31', '2023-04-01',
               '2023-04-02', '2023-04-03', '2023-04-04', '2023-04-05',
               '2023-04-06', '2023-04-07', '2023-04-08', '2023-04-09',
               '2023-04-10', '2023-04-11', '2023-04-12', '2023-04-13',
               '2023-04-14', '2023-04-15', '2023-04-16', '2023-04-17',
               '2023-04-18', '2023-04-19', '2023-04-20', '2023-04-21',
               '2023-04-22', '2023-04-23', '2023-04-24', '2023-04-25',
               '2023-04-26', '2023-04-27', '2023-04-28', '2023-04-29',
               '2023-04-30', '2023-05-01', '2023-05-02', '2023-05-03',
               '2023-05-04', '2023-05-05', '2023-05-06', '2023-05-07',
               '2023-05-08', '2023-05-09', '2023-05-10', '2023-05-11',
               '2023-05-12', '2023-05-13', '2023-05-14', '2023-05-15',
               '2023-05-16', '2023-05-17', '2023-05-18', '2023-05-19',
               '2023-05-20', '2023-05-21', '2023-05-22', '2023-05-23',
               '2023-05-24', '2023-05-25', '2023-05-26', '2023-05-27'],
              dtype='datetime64[ns]', freq='D')

In [23]:
# 生成标准正态分布的数据
data = np.random.normal(0,3,
                       #生成100行100列
                       (100,100))
df2 = pd.DataFrame(data,columns=col,index = index_)
df2

,股票0,股票1,股票2,股票3,股票4,股票5,股票6,股票7,股票8,股票9,...,股票90,股票91,股票92,股票93,股票94,股票95,股票96,股票97,股票98,股票99
2023-02-17,1.518998,0.365074,-4.611402,-0.696404,-2.219209,-6.663645,5.283073,3.430802,-1.350827,-3.192552,...,2.747531,-4.007901,4.440820,2.694782,-2.404305,-3.100652,-0.553856,1.652679,2.191796,0.433682
2023-02-18,-1.145414,-2.354493,0.374685,2.496891,-1.021139,-3.349666,0.490702,-4.976541,2.729110,-1.768839,...,-3.815459,-0.938177,-2.450568,1.825331,-1.048261,0.155184,-1.156605,-1.567912,-6.782842,-1.216917
2023-02-19,-2.470368,4.430159,2.919608,-1.403015,-1.643840,2.140703,3.483018,-0.019804,3.407428,4.371728,...,-8.256410,4.653255,5.371212,1.050953,-1.817624,4.743034,-2.695272,0.985878,-1.784085,-1.157450
2023-02-20,6.961655,-3.642941,1.667009,-1.138455,4.779185,3.935247,0.352943,-2.174916,1.067405,-0.211664,...,4.557491,-0.767505,2.261990,2.114341,0.289891,1.097054,2.736770,-0.707855,3.154312,5.655886
2023-02-21,-2.858928,-0.830418,-0.142636,-1.777048,1.324440,1.686472,-0.338487,-3.831907,2.260828,2.555167,...,-2.152983,-4.020507,-2.817496,-4.022596,-6.613392,-3.185146,-9.938719,-0.371223,-0.228370,-3.389070
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-23,2.092578,-0.302538,-6.640490,2.448849,-1.391546,0.089770,3.456350,-1.138910,-6.701209,0.473133,...,-2.646103,-2.522469,-0.785482,-4.564520,-3.151260,1.175160,-4.170896,1.571896,0.805509,1.192405
2023-05-24,1.650129,2.895536,3.229539,-0.235904,-3.733318,-0.159830,4.566899,-4.702081,-0.586211,1.179106,...,1.421220,-0.541820,6.254790,3.543349,-0.850872,6.756017,3.483396,-1.795470,-0.718169,2.567537
2023-05-25,-0.933130,-1.070997,-4.074611,-5.155032,1.189500,-1.309289,2.838901,-0.520088,1.794699,-2.598997,...,0.394901,1.197371,-2.445775,-3.417380,-1.053386,-0.922363,-3.724285,1.353790,-0.948572,-0.384783
2023-05-26,9.004934,-3.584600,5.009879,-0.846092,2.961768,-5.854809,0.128959,-1.283003,3.123669,-0.955383,...,-3.427225,-4.491836,1.741200,4.212605,2.682556,-0.183259,-0.246186,3.488343,-5.142760,-0.674030
2023-05-27,0.565522,-1.859721,0.312370,2.512093,-2.024636,-1.820074,-3.953509,-0.125878,-5.623021,0.072019,...,1.599783,-1.994985,0.051211,-1.346069,0.370083,0.545139,-3.075684,-0.696302,3.686332,-1.685933

#### 保存文件
 DataFrame.to_csv(path_or_buf,sep = ',',na_rep = '')  
 path_or_buf:文件保存路径
 sep:文件分隔符  
 na_rep:缺失数据填充  
 float_format:小数保留位数
 mode：数据读取模式，里面的参数和open打开文件时里面的参数一致  
 encoding：文件编码格式

In [24]:
# 运行完，没提示
df2.to_csv('data/股票.csv',encoding = 'gbk')

#### 其他格式文件读取与保存

* csv：是一种纯文本文件，体积相对而言会更小，更适合存放结构化数据 
* excel：里面包含很多格式信息之类的，并不是纯文本文件，体积相对大

**h5文件**  
    h5文件时HDF的第5代版本，是用于存储科学数据的一种文件格式。在内存占用、压缩、访问速度等方面都具有非常优秀的特性，在科学领域和工业领域可能用的多一些

In [25]:
# 保存为h5文件
# 指定文件路径，以及模式
hd = pd.HDFStore('data/stock.h5','w')
# 将df2中的数据存储到hd中的data列里面
hd['data'] = df2
# 关闭文件
hd.close()

有可能会出现以下报错： 未装模块
解决方法：
安装模块：pytables

In [26]:
# excel文件
df2.to_excel('data/股票.xlsx',
             #工作表名
             sheet_name = '股份百分比')

In [27]:
#保存为Json文件
df2.to_json('data/股票.json')

**pkl文件**
一种Python数据存储文件，里面可以用来存储一些Python项目过程中用到的变量或者字符串等待。如果直接打开有可能里面就是一些二进制数据。常用于保存神经网络训练出来的模型数据或者说各种需要存储的数据。

In [29]:
df2.to_pickle('data/股票.pkl')

#### 读取各种类型的文件

In [30]:
import time

In [31]:
# excel
time_excel_star = time.perf_counter()
exc = pd.read_excel('data/股票.xlsx',
                   #通过指定sheet_name参数去读取不同的表数据
                   sheet_name = '股份百分比')
time_excel_end = time.perf_counter()
print(f'execel文件读取时间:{time_excel_end-time_excel_star}')

execel文件读取时间:0.12021140000001651

In [32]:
# csv
time_csv_star = time.perf_counter()
exc = pd.read_csv('data/股票.csv',encoding = 'gbk')
time_csv_end = time.perf_counter()
print(f'文件读取时间:{time_csv_end-time_csv_star}')

文件读取时间:0.016228699999942364

In [33]:
# h5
time_h5_star = time.perf_counter()
h5 = pd.read_hdf('data/stock.h5',encoding = 'gbk')
time_h5_end = time.perf_counter()
print(f'文件读取时间:{time_h5_end-time_h5_star}')

文件读取时间:0.011642599999959202

In [34]:
h5

,股票0,股票1,股票2,股票3,股票4,股票5,股票6,股票7,股票8,股票9,...,股票90,股票91,股票92,股票93,股票94,股票95,股票96,股票97,股票98,股票99
2023-02-17,1.518998,0.365074,-4.611402,-0.696404,-2.219209,-6.663645,5.283073,3.430802,-1.350827,-3.192552,...,2.747531,-4.007901,4.440820,2.694782,-2.404305,-3.100652,-0.553856,1.652679,2.191796,0.433682
2023-02-18,-1.145414,-2.354493,0.374685,2.496891,-1.021139,-3.349666,0.490702,-4.976541,2.729110,-1.768839,...,-3.815459,-0.938177,-2.450568,1.825331,-1.048261,0.155184,-1.156605,-1.567912,-6.782842,-1.216917
2023-02-19,-2.470368,4.430159,2.919608,-1.403015,-1.643840,2.140703,3.483018,-0.019804,3.407428,4.371728,...,-8.256410,4.653255,5.371212,1.050953,-1.817624,4.743034,-2.695272,0.985878,-1.784085,-1.157450
2023-02-20,6.961655,-3.642941,1.667009,-1.138455,4.779185,3.935247,0.352943,-2.174916,1.067405,-0.211664,...,4.557491,-0.767505,2.261990,2.114341,0.289891,1.097054,2.736770,-0.707855,3.154312,5.655886
2023-02-21,-2.858928,-0.830418,-0.142636,-1.777048,1.324440,1.686472,-0.338487,-3.831907,2.260828,2.555167,...,-2.152983,-4.020507,-2.817496,-4.022596,-6.613392,-3.185146,-9.938719,-0.371223,-0.228370,-3.389070
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-23,2.092578,-0.302538,-6.640490,2.448849,-1.391546,0.089770,3.456350,-1.138910,-6.701209,0.473133,...,-2.646103,-2.522469,-0.785482,-4.564520,-3.151260,1.175160,-4.170896,1.571896,0.805509,1.192405
2023-05-24,1.650129,2.895536,3.229539,-0.235904,-3.733318,-0.159830,4.566899,-4.702081,-0.586211,1.179106,...,1.421220,-0.541820,6.254790,3.543349,-0.850872,6.756017,3.483396,-1.795470,-0.718169,2.567537
2023-05-25,-0.933130,-1.070997,-4.074611,-5.155032,1.189500,-1.309289,2.838901,-0.520088,1.794699,-2.598997,...,0.394901,1.197371,-2.445775,-3.417380,-1.053386,-0.922363,-3.724285,1.353790,-0.948572,-0.384783
2023-05-26,9.004934,-3.584600,5.009879,-0.846092,2.961768,-5.854809,0.128959,-1.283003,3.123669,-0.955383,...,-3.427225,-4.491836,1.741200,4.212605,2.682556,-0.183259,-0.246186,3.488343,-5.142760,-0.674030
2023-05-27,0.565522,-1.859721,0.312370,2.512093,-2.024636,-1.820074,-3.953509,-0.125878,-5.623021,0.072019,...,1.599783,-1.994985,0.051211,-1.346069,0.370083,0.545139,-3.075684,-0.696302,3.686332,-1.685933

In [36]:
# json
time_json_star = time.perf_counter()
jason = pd.read_json('data/股票.json')
time_json_end = time.perf_counter()
print(f'文件读取时间:{time_json_end-time_json_star}')

文件读取时间:0.059283399999912945

In [37]:
# pkl
time_pkl_star = time.perf_counter()
jason = pd.read_pickle('data/股票.pkl')
time_pkl_end = time.perf_counter()
print(f'文件读取时间:{time_pkl_end-time_pkl_star}')

文件读取时间:0.010579400000096939